<div class="menu_tab" ng:controller="popupController">

	<!-- start: default -->
	<div ng:include src="'../kw_application/flycart/admin/modules/popup/views/default.html'"></div>
	<!--/ end: default -->

	<!-- start: header -->
	<div ng:include src="'../kw_application/flycart/admin/modules/popup/views/header.html'"></div>
	<!--/ end: header -->

	<div class="clearfix"></div>

	<!-- start: content -->
	<div ng:include src="'../kw_application/flycart/admin/modules/popup/views/content.html'"></div>
	<!--/ end: content -->

	<!-- start: footer -->
	<div ng:include src="'../kw_application/flycart/admin/modules/popup/views/footer.html'"></div>
	<!--/ end: footer -->

</div>