{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a class="btn btn-primary" title="" data-toggle="tooltip" href="{{ settings }}" data-original-title="{{ button_settings }}"><i class="fa fa-cog"></i></a>
        <button class="btn btn-warning" onclick="$('#form-broken').attr('action', '{{ delete }}').submit();" data-toggle="tooltip" title="{{ button_delete }}"><i class="fa fa-trash-o"></i></button>
        <a class="btn btn-warning" title="" data-toggle="tooltip" href="{{ clear }}" data-original-title="{{ button_clear }}"><i class="fa fa-eraser"></i></a>
        <button onclick="$('#form-broken').attr('action', '{{ export }}').submit();" data-toggle="tooltip" class="btn btn-primary" type="submit" title="{{ button_export }}"><i class="fa fa-download"></i></button>		
      </div>
      <h1>{{ heading_log }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success is defined) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    
    <div class="panel panel-body">
      <form action="{{ action }}" method="post" id="form-broken" class="form-horizontal">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="active">
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <td class="text-left">{{ column_time }}</td>
                    <td class="text-left">{{ column_ip }}</td>
                    <td class="text-left">{{ column_browser }}</td>
                    <td class="text-left">{{ column_referer }}</td>
                    <td class="text-left">{{ column_request }}</td>
                    <td class="text-left">{{ column_action }}</td>
                  </tr>
                </thead>
                <tr>
                  <td style="width: 1px;" class="text-center"></td>
                  <td class="text-left"></td>
                  <td class="text-left"></td>
                  <td class="text-left"><input class="form-control" type="text" value="{{ filter.browser }}" name="filter[browser]" /></td>
                  <td class="text-left"><input class="form-control" type="text" value="{{ filter.referer }}" name="filter[referer]" /></td>
                  <td class="text-left"><input class="form-control" type="text" value="{{ filter.request }}" name="filter[request]" /></td>
                  <td class="text-left"><button type="submit" class="btn btn-defalt" title="{{ button_filter }}"><i class="fa fa-filter"></i> {{ button_filter }}</button></td>
                </tr>
				{% if results %}
                <tbody>
                  {% for row in results %} 
                  <tr>
                    <td class="text-center">
					  {% if row.notfound_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ row.notfound_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ row.notfound_id }}" />
                      {% endif %}</td>

                    <td class="text-left">{{ row.date_record }}</td>
                    <td class="text-left">{{ row.ip['ip'] }}
                      {% if row.ip['flag'] %}
                      <img src="{{ row.ip['flag'] }}" title="{{ row.ip['country'] }}" alt="{{ row.ip['country'] }}" />
                      {% else %}
					  <small>{{ row.ip['country'] }}</small>
                      {% endif %}
					</td>
                    <td class="text-left">{{ row.browser }}</td>
                    <td class="text-left">
                    {% if row.href %}
                      <a href="{{ row.href }}" target="_blank">{{ row.short_referer }}</a>
                    {% else %}
                      {{ short_referer }}
                    {% endif %}
                    </td>
                    <td class="text-left">{{ row.request_uri }}</td>
                    <td class="text-right">
                      <a class="btn btn-danger" onclick="$('#form-broken input[type=checkbox][value={{ row.notfound_id }}]').prop('checked',true);$('#form-broken').attr('action', '{{ delete }}').submit();" data-help="{{ button_delete }}"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>      
                  {% endfor %}                
                </tbody>
                {% else %} 
                  <tr>
                    <td class="text-center" colspan="5">{{ text_no_results }}</td>
                  </tr>
                {% endif %} 
              </table>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ result }}</div>
      </div>    
    </div>
  </div>
</div>
{{ footer }}