<div class="menu_tab" ng:controller="effectsController">
	<div class="tools_block full">
		<div class="tb_title">
			<span ng:bind="::locale.effects_title"></span>
		</div>

		<div class="tb_wrapper">

			<div class="field inter select">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_103 | sanitize}}"></i>{{::locale.type}}
						</span>
					</span>

					<div class="field-cell field-right">
						<select ng:model="tools.effect_type" ui-jq="select2" ui-options="{{selectOptions}}" select2-scrollbar>
							<option value="off" ng:bind="::locale.off_big"></option>
							<option value="product" ng:bind="::locale.p_image"></option>
							<option value="image" ng:bind="::locale.custom_img"></option>
							<option value="css" ng:bind="::locale.frame_min"></option>
							<option value="custom" ng:bind="::locale.customers"></option>
						</select>
					</div>
				</div>
			</div>

			<div class="field numset if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_104 | sanitize}}"></i>{{::locale.sizes_big}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:number label="{{::locale.width_min}}" model="tools.effect_frame_width" min="0"></kw:number>
						<kw:number label="{{::locale.height_min}}" model="tools.effect_frame_height" min="0"></kw:number>
						<span class="right-label" ng:bind="::locale.px"></span>
					</div>
				</div>
			</div>

			<div class="field numset if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_125 | sanitize}}"></i>{{::locale.offset_flyer}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:number label="{{::locale.top}}" model="tools.effect_frame_offset_top"></kw:number>
						<kw:number label="{{::locale.left}}" model="tools.effect_frame_offset_left"></kw:number>
						<span class="right-label" ng:bind="::locale.px"></span>
					</div>
				</div>
			</div>

			<div class="field inter ci-field top-label" ng:if="tools.effect_type === 'image'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_105 | sanitize}}"></i>{{::locale.custom_image}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:custom-image class="if-hide"
               label="{{::locale.custom_image}}"
               model="tools.effect_image"
               button-manager="{{::locale.select}}"
               button-upload="{{::locale.upload}}"
               button-save="{{::locale.save_select}}"
               button-cancel="{{::locale.cancel_sel}}"
               button-zoom="{{::locale.zoom_sel}}"
               button-delete="{{::locale.delete_sel}}"
               button-close="{{::locale.close_sel}}"
               directory="../kw_application/flycart/images/effects/"
               repeat="no-repeat"
               position="50% 50%"
               default-img="{ src: 'Gold_Star.png', width: 64, height: 59 }"
               module="kw_flycart"
               token="{{token}}">
						</kw:custom-image>
					</div>
				</div>
			</div>

			<div class="field_separator"></div>

			<div class="field color-switch if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_106 | sanitize}}"></i>{{::locale.frame}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.effect_frame"
						             default-value="true" disabled="{{ tools.effect_type === 'css' }}" call="true"></kw:switcher>

						<div class="if-hide" ng:if="tools.effect_frame">
							<kw:color top-label="{{::locale.color}}" model="tools.effect_frame_color" default-value="rgba(255,255,255,1)"></kw:color>
							<kw:color top-label="{{::locale.bgs}}" model="tools.effect_frame_bg" default-value="rgba(255,255,255,1)"></kw:color>
							<kw:number label="{{::locale.sizes}}" model="tools.effect_frame_size" min="0"></kw:number>
							<span class="right-label" ng:bind="::locale.px"></span>
						</div>
					</div>
				</div>
			</div>

			<div class="field numset if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom' && tools.effect_frame">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_107 | sanitize}}"></i>{{::locale.in_padding}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:number model="tools.effect_frame_pt" min="0" label="{{::locale.top}}"></kw:number>
						<kw:number model="tools.effect_frame_pr" min="0" label="{{::locale.right}}"></kw:number>
						<kw:number model="tools.effect_frame_pb" min="0" label="{{::locale.bottom}}"></kw:number>
						<kw:number model="tools.effect_frame_pl" min="0" label="{{::locale.left}}"></kw:number>
						<span class="right-label" ng:bind="::locale.px"></span>
					</div>
				</div>
			</div>

			<div class="field inter radius numset top-label if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom' && tools.effect_frame">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_110 | sanitize}}"></i>{{::locale.radius}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}"
						             model="tools.effect_frame_radius" default-value="true"></kw:switcher><br />

						<div class="if-hide" ng:if="tools.effect_frame_radius">
							<kw:number model="tools.effect_frame_radiust" min="0" label="{{::locale.top_left}}"></kw:number>
							<kw:number model="tools.effect_frame_radiusr" min="0" label="{{::locale.top_right}}"></kw:number>
							<kw:number model="tools.effect_frame_radiusb" min="0" label="{{::locale.btm_right}}"></kw:number>
							<kw:number model="tools.effect_frame_radiusl" min="0" label="{{::locale.btm_left}}"></kw:number>

							<span class="drop-switcher" outside-click="dropSwitch['effect_radiusval'] = false;">
								<span class="drop-switcher-label" ng:click="dropSwitch['effect_radiusval'] = true;">{{ tools.effect_radiusval }}</span>

								<span class="drop-switcher-area if-hide" ng:if="dropSwitch['effect_radiusval']">
									<label ng:class="{ 'active': tools.effect_radiusval === 'px' }">
										<input type="radio" ng:model="tools.effect_radiusval" value="px" ng:change="dropSwitch['effect_radiusval'] = false;" />{{::locale.px}}
									</label>
									<label ng:class="{ 'active': tools.effect_radiusval === '%' }">
										<input type="radio" ng:model="tools.effect_radiusval" value="%" ng:change="dropSwitch['effect_radiusval'] = false;" />{{::locale.percent}}
									</label>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="field if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_108 | sanitize}}"></i>{{::locale.rotate}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.effect_rotate" default-value="true"></kw:switcher>
					</div>
				</div>
			</div>

			<div class="field if-hide" ng:if="tools.effect_type !== 'off' && tools.effect_type !== 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_109 | sanitize}}"></i>{{::locale.anim_speed}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:number model="tools.effect_frame_speed" step="100" min="0"></kw:number>
						<span class="right-label" ng:bind="::locale.ms"></span>
					</div>
				</div>
			</div>

			<div class="field if-hide" ng:if="tools.effect_type === 'custom'">
				<div class="field-row">
					<span class="label field-cell field-left">
						<span>
							<i class="tooltip help" kw:tooltips data-text="{{::locale.help_111 | sanitize}}"></i>{{::locale.prod_img}}
						</span>
					</span>

					<div class="field-cell field-right">
						<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.effect_product_img" default-value="true"></kw:switcher>
					</div>
				</div>
			</div>

			<div class="field_separator if-hide" ng:if="tools.effect_type === 'custom'"></div>

			<div class="field codemirror if-hide" ng:if="tools.effect_type === 'custom'">
				<div class="codemirror-descriptions" ng:bind-html="::locale.custom_warning | sanitize"></div>
				<div class="codemirror-tabs">
					<div class="codemirror-panel">
						<span class="codemirror-button" ng:click="codeMirrorEffectsActive('effect_custom_css');"
						      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_css'] }" ng:bind="::locale.css"></span>

						<span class="codemirror-button" ng:click="codeMirrorEffectsActive('effect_custom_js');"
						      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_js'] }" ng:bind="::locale.js"></span>

						<span class="codemirror-info" ng:click="codeMirrorEffectsActive('effect_custom_info');"
						      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_info'] }"></span>

						<span class="codemirror-fullscreen" title="{{::locale.fullscreen}}" ng:click="fullCssEffectsOpen();"></span>
					</div>
					<div class="codemirror-block if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_css']">
						<ui-codemirror ui-codemirror-opts="codeMirrorCss" ng:model="tools.effect_custom_css"></ui-codemirror>
					</div>
					<div class="codemirror-block if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_js']">
						<ui-codemirror ui-codemirror-opts="codeMirrorJs" ng:model="tools.effect_custom_js"></ui-codemirror>
					</div>
					<div class="codemirror-block info if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_info']"
					     ng:bind-html="::locale.custom_info | sanitize"></div>
				</div>
			</div>

			<kw:modal width="80%" trigger="fullEffects" ng:if="tools.effect_type === 'custom'">
				<div id="top_module">
					<div class="head_bg">
						<div id="save">
							<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.status"
							             default-value="0" show-all></kw:switcher>

							<a ng:click="save()" class="kw-btn top" ng:bind="::locale.button_save"></a>
							<a href="{{cancel | href}}" class="kw-btn top" ng:bind="::locale.button_cancel"></a>
							<a ng:click="apply()" class="kw-btn top" ng:bind="::locale.button_apply"></a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="field codemirror fullscreen">
					<div class="codemirror-tabs">
						<div class="codemirror-panel">
							<span class="codemirror-button" ng:click="codeMirrorEffectsActive('effect_custom_css');"
							      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_css'] }" ng:bind="::locale.css"></span>

							<span class="codemirror-button" ng:click="codeMirrorEffectsActive('effect_custom_js');"
							      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_js'] }" ng:bind="::locale.js"></span>

							<span class="codemirror-info" ng:click="codeMirrorEffectsActive('effect_custom_info');"
							      ng:class="{ 'active': codeMirrorEffectsTabs['effect_custom_info'] }"></span>

							<span class="codemirror-lowscreen" title="{{::locale.lowscreen}}" ng:click="fullCssEffectsClose();"></span>
						</div>
						<div class="codemirror-block if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_css']">
							<ui-codemirror ui-codemirror-opts="codeMirrorCss" ng:model="tools.effect_custom_css"></ui-codemirror>
						</div>
						<div class="codemirror-block if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_js']">
							<ui-codemirror ui-codemirror-opts="codeMirrorJs" ng:model="tools.effect_custom_js"></ui-codemirror>
						</div>
						<div class="codemirror-block info if-hide" ng:if="codeMirrorEffectsTabs['effect_custom_info']"
						     ng:bind-html="::locale.custom_info | sanitize"></div>
					</div>
				</div>
			</kw:modal>

			<div ng:if="tools.effect_type === 'off'">

				<div class="field empty-field">
					<div class="empty-desc" ng:bind-html="::locale.effect_none | sanitize"></div>

					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="155" height="150" viewBox="0 0 155 150">
						<path d="M154.553,63.866 C154.489,65.220 153.689,66.467 152.463,67.123 C152.463,67.123 105.914,89.951 105.914,89.951 C105.124,90.375 104.222,90.517 103.363,90.355 C103.363,90.355 73.596,84.597 73.596,84.597 C75.947,81.586 77.249,76.799 77.191,71.199 C77.170,69.015 77.423,67.111 77.849,65.249 C77.849,65.249 104.336,70.081 104.336,70.081 C105.183,70.232 106.070,70.085 106.846,69.669 C106.846,69.669 149.548,51.174 149.548,51.174 C152.049,49.991 155.133,51.517 154.996,54.433 C154.996,54.433 154.553,63.866 154.553,63.866 ZM131.227,39.515 C131.227,39.515 105.441,34.784 105.441,34.784 C102.512,34.143 95.351,32.463 95.424,27.320 C95.453,25.243 99.401,24.255 101.219,24.212 C98.012,23.010 93.006,20.404 93.553,16.725 C94.182,12.494 99.546,13.817 99.546,13.817 C90.253,7.219 90.061,2.783 93.371,0.460 C96.680,-1.859 109.852,5.107 118.259,10.495 C131.904,19.241 138.394,26.990 134.883,33.657 C133.656,35.990 132.414,37.838 131.227,39.515 ZM130.192,47.359 C133.015,47.970 133.267,50.471 130.894,51.495 C130.894,51.495 122.773,53.266 122.773,53.266 C122.179,53.522 121.497,53.613 120.842,53.521 C120.842,53.521 85.382,47.379 85.382,47.379 C86.034,44.932 86.134,42.857 85.407,40.118 C85.407,40.118 130.192,47.359 130.192,47.359 ZM70.736,71.439 C70.808,78.417 68.338,83.481 65.456,82.770 C56.765,80.634 56.277,73.426 50.800,73.370 C41.445,73.274 37.475,69.872 41.868,68.040 C36.740,68.450 33.493,66.480 32.689,65.542 C31.375,64.007 32.100,61.768 35.595,60.279 C27.799,61.035 21.648,57.858 21.013,55.134 C20.375,52.410 25.006,49.575 27.418,48.764 C22.610,48.571 14.793,47.338 13.933,42.428 C12.950,36.783 20.692,36.232 20.692,36.232 C5.420,31.707 3.246,26.142 6.670,21.807 C10.089,17.477 30.711,20.851 44.277,24.206 C66.294,29.651 78.316,36.809 76.503,46.754 C74.596,57.203 70.641,62.209 70.736,71.439 ZM21.765,62.326 C22.129,66.664 25.999,69.132 30.223,70.246 C31.905,73.938 37.229,76.119 45.239,76.308 C45.672,76.318 47.348,78.311 47.626,78.628 C47.626,78.628 3.242,69.192 3.242,69.192 C1.710,68.884 0.581,67.655 0.409,66.113 C0.409,66.113 0.016,54.294 0.016,54.294 C-0.118,53.096 0.351,51.881 1.273,51.037 C2.192,50.193 3.453,49.827 4.645,50.056 C4.645,50.056 10.761,51.654 10.761,51.654 C10.397,57.131 15.837,60.882 21.765,62.326 ZM15.948,81.789 C15.948,81.789 24.644,83.860 24.644,83.860 C26.114,84.169 27.213,85.332 27.429,86.805 C27.429,86.805 32.885,121.336 32.885,121.336 C33.110,122.854 34.265,124.036 35.794,124.306 C35.794,124.306 41.479,125.120 41.479,125.120 C42.667,125.329 43.911,124.954 44.819,124.112 C45.725,123.268 46.189,122.062 46.054,120.874 C46.054,120.874 42.858,92.060 42.858,92.060 C42.726,90.863 43.195,89.649 44.117,88.807 C45.034,87.963 46.293,87.598 47.485,87.824 C47.485,87.824 58.718,89.950 58.718,89.950 C60.308,90.253 61.473,91.540 61.605,93.143 C61.605,93.143 64.519,126.153 64.519,126.153 C64.652,127.772 65.842,129.070 67.453,129.353 C67.453,129.353 73.049,130.369 73.049,130.369 C74.184,130.568 75.374,130.236 76.273,129.463 C77.171,128.693 77.679,127.573 77.648,126.426 C77.648,126.426 78.313,98.338 78.313,98.338 C78.282,97.181 78.797,96.054 79.706,95.282 C80.618,94.510 81.820,94.186 82.959,94.401 C82.959,94.401 92.723,95.935 92.723,95.935 C94.402,96.252 95.597,97.669 95.620,99.370 C95.620,99.370 94.781,128.716 94.781,128.716 C94.829,132.065 99.180,132.063 99.987,132.204 C102.008,132.559 103.078,132.757 105.054,131.277 C105.984,130.584 106.566,129.525 106.635,128.399 C106.635,128.399 109.286,98.679 109.286,98.679 C109.370,97.340 110.169,96.119 111.383,95.472 C111.383,95.472 118.581,91.916 118.581,91.916 C121.191,90.527 123.947,91.877 123.718,94.800 C121.110,114.386 120.649,119.224 120.788,122.663 C120.877,124.808 127.873,119.161 130.114,117.536 C131.014,116.879 131.578,115.865 131.684,114.785 C131.684,114.785 135.044,85.914 135.044,85.914 C135.169,84.626 135.959,83.462 137.129,82.836 C137.129,82.836 143.493,79.233 143.493,79.233 C146.242,77.769 148.513,78.949 148.029,82.894 C147.543,86.839 141.944,120.254 141.944,120.254 C141.789,121.250 140.716,122.674 139.895,123.298 C139.895,123.298 102.142,149.193 102.142,149.193 C101.269,149.851 100.175,150.125 99.127,149.945 C99.127,149.945 23.086,133.733 23.086,133.733 C21.621,133.483 20.486,132.389 20.196,130.951 C20.196,130.951 11.299,86.328 11.299,86.328 C11.048,85.083 11.469,83.768 12.413,82.846 C13.355,81.924 14.693,81.525 15.948,81.789 Z" class="empty-cart" fill-rule="evenodd"/>
					</svg>
				</div>
			</div>

		</div>
	</div>

</div>