<div id="flycart-widget" ng:click="flycartOpen('widget');" ng:if="widget_empty === 'true'"
     ng:class="{ 'kw-empty': cart.products.length === 0 }" class="length-{{ cart.count.toString().length }}">

	<span ng:if="tools.widget_title === 'true'" ng:bind-html="::tools.widget_title_text[lang_id]"></span>

	<span class="flycart-widget-count" ng:if="(tools.widget_null === 'true' || cart.count > 0) && tools.noti_type === 'off'" ng:class="{'change': countChange}">
		<span data-text="{{ widgetContent(tools.widget_text[lang_id]) }}" ng:bind-html="widgetContent(tools.widget_text[lang_id])"></span>
	</span>

	<span class="flycart-widget-count" ng:if="(tools.widget_null === 'true' || cart.count > 0) && tools.noti_type !== 'off'" ng:bind-html="widgetContent(tools.widget_text[lang_id])"></span>
</div>
