<div id="flycart-notification" class="zoom-anim-dialog popup" ng:class="{'advanced': tools.noti_type === 'advanced'}">
	<div class="flycart-noti-header">
		<h3 class="notification-product-success noti-min" ng:if="tools.noti_type === 'advanced'" ng:bind-html="::tools.advanced_left_title_text[lang_id]"></h3>

		<span class="flycart-options-close" ng:click="popupClose();">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="15" height="15"><path d="M13.783968,2.3037212c0.288043-0.2881861,0.288043-0.7556047,0-1.0437908l-1.0437918-1.0437908 c-0.288043-0.2881861-0.755332-0.2881861-1.0437918,0L7.5220523,4.3908868c-0.2884603,0.2881861-0.7557487,0.2881861-1.0437918,0 L2.3035111,0.2161396c-0.288043-0.2881861-0.7553315-0.2881861-1.0433747,0L0.216345,1.2599304 c-0.28846,0.2881861-0.28846,0.7556047,0,1.0437908l4.1743326,4.1743317c0.2884598,0.2886019,0.2884598,0.7556047,0,1.0437908 l-4.1743326,4.174747C0.0779509,11.8350697,0,12.0226192,0,12.2184858c0,0.1954508,0.0779509,0.3834171,0.216345,0.5218954 l1.0437915,1.0437908c0.2880431,0.2877703,0.7553316,0.2877703,1.0433747,0l4.1747494-4.1751633 c0.288043-0.2877703,0.7553315-0.2877703,1.0437918,0l4.1743321,4.1751633c0.2884598,0.2877703,0.7557487,0.2877703,1.0437918,0 l1.0437918-1.0437908c0.1383934-0.1384783,0.2159281-0.3264446,0.2159281-0.5218954 c0-0.1958666-0.0775347-0.3834162-0.2159281-0.5218954l-4.1747494-4.174747c-0.288043-0.2881861-0.288043-0.7551889,0-1.0437908 L13.783968,2.3037212z"/></svg>
		</span>
	</div>

	<div class="flycart-container" ng:if="tools.noti_type === 'advanced'">
		<div class="left-notification" ng:class="{'full-width': tools.advanced_right === 'false'}">

			<h3 class="notification-product-success noti-max" ng:bind-html="::tools.advanced_left_title_text[lang_id]"></h3>

			<div class="notification-product-block related-parent">
				<a ng:href="{{ ::notifyProduct.href }}" class="related-links" ng:if="tools.advanced_image === 'true'">
					<img ng:src="{{ ::notifyProduct.thumb }}" width="{{::tools.advanced_image_width}}" height="{{::tools.advanced_image_height}}" alt class="notification-product-image" ng:if="tools.retina === 'true'"/>
					<img ng:src="{{ ::notifyProduct.thumb }}" ng:if="tools.retina === 'false'" alt class="notification-product-image"/>
				</a>

				<div class="notification-product-info">
					<div class="notification-product-name">
						<a ng:href="{{ ::notifyProduct.href }}" class="related-links" ng:if="tools.advanced_name === 'true'">
							<span ng:bind-html="::notifyProduct.name"></span>
						</a>
					</div>

					<span class="notification-product-price" ng:bind-html="::notifyProduct.total_alone" ng:if="tools.advanced_price === 'true' && !notifyProduct.special_alone"></span>
					<span class="notification-product-price-old" ng:bind-html="::notifyProduct.special_alone" ng:if="tools.advanced_price === 'true' && notifyProduct.special_alone"></span>
					<span class="notification-product-price-special" ng:bind-html="::notifyProduct.total_alone" ng:if="tools.advanced_price === 'true' && notifyProduct.special_alone"></span>

					<div class="notification-product-infos notification-product-params sku" ng:if="tools.advanced_sku === 'true' && notifyProduct.sku">
						<span class="param-name" ng:bind-html="::tools.sku[lang_id]"></span>
						<span ng:bind-html="::notifyProduct.sku"></span>
					</div>

					<div class="notification-product-infos notification-product-params" ng:if="tools.advanced_brand === 'true' && notifyProduct.brand_name">
						<span class="param-name" ng:bind-html="::tools.manuf[lang_id]"></span>
						<a ng:href="{{ ::notifyProduct.brand_url }}">
							<span ng:bind-html="::notifyProduct.brand_name"></span>
						</a>
					</div>

					<div class="notification-product-infos notification-product-params" ng:if="tools.advanced_model === 'true' && notifyProduct.model">
						<span class="param-name" ng:bind-html="::tools.model[lang_id]"></span>
						<span ng:bind-html="::notifyProduct.model"></span>
					</div>

					<span class="notification-product-infos notification-product-params flycart-product-stock" ng:if="tools.advanced_stock === 'true'">
						<span class="param-name" ng:bind-html="tools.stock[lang_id]"></span>
						<span ng:bind-html="notifyProduct.stock" class="flycart-product-stock-text notification-stock" style="color: {{tools.advanced_stock_color[notifyProduct.stock_status_id]}}"></span>
					</span>

					<div class="notification-product-options" ng:if="tools.advanced_options === 'true' && tools.advanced_right === 'false'">
						<span class="notification-product-option" ng:repeat="option in notifyProduct.option" ng:cloak>-
							<span ng:bind-html="::option.name"></span>:
							<span ng:bind-html="::option.value"></span>
						</span>
						<span class="notification-product-option" ng:if="tools.text_payment_profile && notifyProduct.recurring">
							- <span ng:bind-html="::tools.text_payment_profile"></span>: <span ng:bind-html="::notifyProduct.profile"></span>
						</span>
					</div>

				</div>
			</div>

			<div class="notification-product-options" ng:if="tools.advanced_options === 'true' && tools.advanced_right === 'true'">
				<span class="notification-product-option" ng:repeat="option in notifyProduct.option" ng:cloak>-
					<span ng:bind-html="::option.name"></span>:
					<span ng:bind-html="::option.value"></span>
				</span>
				<span class="notification-product-option" ng:if="tools.text_payment_profile && notifyProduct.recurring">
						- <span ng:bind-html="::tools.text_payment_profile"></span>: <span ng:bind-html="::notifyProduct.profile"></span>
				</span>
			</div>
		</div>

<div class="buttonset" ng:if="tools.advanced_right === 'false'">
			<div id="oneclick2" >
                          <div class="input-group">
				<input type="text" name="telephone" value="" placeholder="Номер телефона" id="input-payment-telephone" style="height: 38px;" class="form-control">
				<input type="hidden" name="product_id" value="0">
                            <span class="input-group-btn">
                                 <button type="submit" id="button-oneclick2" class="btn btn-primary" style="height: 38px;font-size:11px">Купить в один клик</button>
                            </span>
                          </div>
                       </div><br>
<a href="javascript:void(0);" ng:click="popupClose();" class="flycart-button close-button" ng:if="tools.continue_advanced_btn === 'true'" ng:bind-html="::tools.advanced_continue_btn[lang_id]"></a>
<a ng:href="{{::tools.checkout}}" class="flycart-button tocart-button" ng:if="tools.viewcart_advanced_btn === 'true'" ng:bind-html="::tools.advanced_viewcart_btn[lang_id]"></a>

<div class="oneclick-result" style="text-align: center;font-size: 13px;clear: both;"></div>
<script src="catalog/view/javascript/jquery.maskedinput.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
	$("#input-payment-telephone").mask("+38 (999) 999-99-99",{placeholder:" "});
  });
</script>

<script type="text/javascript"><!--
$('#button-oneclick2').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/one_click/add',
		type: 'post',
		data: $('#oneclick2 input[type=\'text\'], #oneclick input[type=\'hidden\']'),
		dataType: 'json',
		beforeSend: function() {
			//$('#button-oneclick2').button('loading');
		},
		complete: function() {
			$('#button-oneclick2').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['telephone']) {
					$('.oneclick-result').html('<div class="alert alert-danger text-danger">' + json['error']['telephone'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['error']['product']) {
					$('.oneclick-result').html('<div class="alert alert-danger text-danger">' + json['error']['product'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
				if (json['error']['order']) {
					$('.oneclick-result').html('<div class="alert alert-danger text-danger">' + json['error']['order'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}
			}

			if (json['success']) {
				$('.oneclick-result').html('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>

</div>		

		<div class="right-notification" ng:if="tools.advanced_right === 'true'">
			<h3 class="notification-product-title" ng:if="tools.advanced_right_items === 'true'">
				<span ng:bind-html="::tools.advanced_right_title_text[lang_id]"></span>
				<span ng:bind-html="notifyProduct.count | declension: tools.items_1[lang_id]: tools.items_2[lang_id]: tools.items_3[lang_id]"></span>
			</h3>

			<h3 class="notification-product-title" ng:if="tools.advanced_right_items === 'false'">
				<span ng:bind-html="::tools.advanced_right_title_text[lang_id]"></span>
				<span ng:bind-html="notifyProduct.names | declension: tools.items_t1[lang_id]: tools.items_t2[lang_id]: tools.items_t3[lang_id]"></span>
			</h3>

			<div class="notification-totals">
				<div class="notification-total" ng:repeat="total in ::notifyProduct.totals">
					<span class="notification-total-label" ng:bind-html="::total.title + ':'"></span>
					<span class="notification-total-result" ng:bind-html="::total.text"></span>
				</div>
			</div>

			<a ng:href="{{::tools.checkout}}" class="flycart-button tocart-button" ng:if="tools.viewcart_advanced_btn === 'true'" ng:bind-html="::tools.advanced_viewcart_btn[lang_id]"></a>
			<a href="javascript:void(0);" ng:click="popupClose();" class="flycart-button close-button" ng:if="tools.continue_advanced_btn === 'true'" ng:bind-html="::tools.advanced_continue_btn[lang_id]"></a>
		</div>
	</div>

	<div class="flycart-container" ng:if="tools.noti_type === 'light'">
		<a ng:href="{{ ::notifyProduct.href }}" ng:if="tools.light_image === 'true'">
			<img ng:src="{{ ::notifyProduct.thumb }}" width="{{::tools.light_image_width}}" height="{{::tools.light_image_height}}" alt class="notification-product-image" ng:if="tools.retina === 'true'"/>
			<img ng:src="{{ ::notifyProduct.thumb }}" ng:if="tools.retina === 'false'" alt class="notification-product-image"/>
		</a>

		<div class="notification-product-right">
			<div class="notification-product-name" ng:bind-html="noticeMessage(notifyProduct, tools.text_added[lang_id])"></div>

			<div class="light-max">
				<a href="javascript:void(0);" ng:click="popupClose();" class="flycart-button close-button light" ng:if="tools.continue_light_btn === 'true'" ng:bind-html="::tools.light_continue_btn[lang_id]"></a>
				<a ng:href="{{::tools.checkout}}" class="flycart-button tocart-button light" ng:if="tools.viewcart_light_btn === 'true'" ng:bind-html="::tools.light_viewcart_btn[lang_id]"></a>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="buttonset light-min">
			<a href="javascript:void(0);" ng:click="popupClose();" class="flycart-button close-button light" ng:if="tools.continue_light_btn === 'true'" ng:bind-html="::tools.light_continue_btn[lang_id]"></a>
			<a ng:href="{{::tools.checkout}}" class="flycart-button tocart-button light" ng:if="tools.viewcart_light_btn === 'true'" ng:bind-html="::tools.light_viewcart_btn[lang_id]"></a>
		</div>
	</div>
</div>