<div id="flycart-dialog" class="zoom-anim-dialog">

	<div class="flycart-options-header"
	     ng:class="{'small-header': (tools.popup_header_items === 'false' && tools.popup_header_names === 'false' && tools.popup_header_weight === 'false' && tools.popup_header_total === 'false')}">

			<span ng:bind-html="::tools.header[lang_id]"></span>

			<span class="flycart-options-close" ng:click="popupClose();">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M13.783968,2.3037212c0.288043-0.2881861,0.288043-0.7556047,0-1.0437908l-1.0437918-1.0437908 c-0.288043-0.2881861-0.755332-0.2881861-1.0437918,0L7.5220523,4.3908868c-0.2884603,0.2881861-0.7557487,0.2881861-1.0437918,0 L2.3035111,0.2161396c-0.288043-0.2881861-0.7553315-0.2881861-1.0433747,0L0.216345,1.2599304 c-0.28846,0.2881861-0.28846,0.7556047,0,1.0437908l4.1743326,4.1743317c0.2884598,0.2886019,0.2884598,0.7556047,0,1.0437908 l-4.1743326,4.174747C0.0779509,11.8350697,0,12.0226192,0,12.2184858c0,0.1954508,0.0779509,0.3834171,0.216345,0.5218954 l1.0437915,1.0437908c0.2880431,0.2877703,0.7553316,0.2877703,1.0433747,0l4.1747494-4.1751633 c0.288043-0.2877703,0.7553315-0.2877703,1.0437918,0l4.1743321,4.1751633c0.2884598,0.2877703,0.7557487,0.2877703,1.0437918,0 l1.0437918-1.0437908c0.1383934-0.1384783,0.2159281-0.3264446,0.2159281-0.5218954 c0-0.1958666-0.0775347-0.3834162-0.2159281-0.5218954l-4.1747494-4.174747c-0.288043-0.2881861-0.288043-0.7551889,0-1.0437908 L13.783968,2.3037212z"/></svg>
			</span>

			<div ng:if="tools.popup_header_items === 'true' || tools.popup_header_names === 'true' || tools.popup_header_weight === 'true' || tools.popup_header_total === 'true'">

					<div class="flycart-header-info" ng:if="cart.products.length > 0 || cart.vouchers.length > 0">

						<span class="flycart-header-info-items" ng:if="tools.popup_header_items === 'true'"
						      ng:bind-html="(cart.count | declension:tools.items_b1[lang_id]:tools.items_b2[lang_id]:tools.items_b3[lang_id]) + ' '"></span>

						<span class="flycart-header-info-items" ng:if="tools.popup_header_names === 'true'"
						      ng:bind-html="(cart.products.length | declension:tools.items_n1[lang_id]:tools.items_n2[lang_id]:tools.items_n3[lang_id]) + ' '"></span>

						<span class="flycart-header-info-weight" ng:bind-html="'(' + cart.weight + ')'" ng:if="tools.popup_header_weight === 'true' && cart.weight.length > 0"></span>
						<span class="flycart-header-info-total" ng:bind-html="tools.b_total[lang_id] + ' ' + cart.total" ng:if="tools.popup_header_total === 'true'"></span>
					</div>
			</div>
		</div>

		<div class="flycart-container" ng:if="cart.products.length > 0 || cart.vouchers.length > 0" ng:class="{'loading-blocked': popupLoader === true}">
			<table class="flycart-products">
				<tr class="flycart-product related-parent" ng:repeat="product in cart.products">

					<td class="flycart-product-left" ng:if="tools.popup_imgage === 'true' || tools.popup_name === 'true'">
						<div class="flycart-product-image" ng:if="tools.popup_imgage === 'true'">
							<a ng:href="{{ ::product.href }}" class="related-links">
								<img ng:src="{{ ::product.thumb }}" width="{{::tools.popup_imgage_width}}" height="{{::tools.popup_imgage_height}}" alt ng:if="tools.retina === 'true'" />
								<img ng:src="{{ ::product.thumb }}" alt ng:if="tools.retina === 'false'" />
							</a>
						</div>

						<div class="flycart-product-name" ng:if="tools.popup_name === 'true'">
							<a ng:href="{{ ::product.href }}" class="related-links"><span ng:bind-html="::product.name"></span></a>

							<span class="maximum-alert"
							      ng:if="product.quantity >= product.maximum && tools.popup_alert_on === 'true'"
							      ng:bind-html="product.min_error"></span>

							<span class="minimum-alert"
							      ng:if="product.quantity <= product.minimum && product.minimum > 1 && tools.popup_info_on === 'true'"
							      ng:bind-html="product.max_error"></span>

							<span class="flycart-product-weight" ng:if="tools.popup_weight === 'true'">
								<span ng:bind-html="tools.sum_weight[lang_id]"></span>
								<span ng:bind-html="product.weight" class="flycart-product-weight-text"></span>
							</span>

							<span class="flycart-product-stock" ng:if="tools.popup_stock === 'true'">
								<span ng:bind-html="tools.stock[lang_id]"></span>
								<span ng:bind-html="product.stock" class="flycart-product-stock-text" style="color: {{tools.popup_stock_color[product.stock_status_id]}}"></span>
							</span>

							<span ng:click="removeProduct(product.key);" class="flycart-product-remove-button min" ng:if="tools.popup_premove === 'true'">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M6.9997916,3.8641534L3.1369467,0L0,3.1116669L3.8753459,6.988327L3.8632617,7l0.0120842,0.0120897 L0,10.8883333L3.1369467,14l3.8628449-3.8637362L10.8630533,14L14,10.8883333l-3.8757629-3.8762436L10.136322,7l-0.012085-0.011673 L14,3.1116669L10.8630533,0L6.9997916,3.8641534z"/>
								</svg>
							</span>
						</div>
						<div class="clearfix" ng:if="tools.popup_name === 'true'"></div>

						<div class="flycart-product-resp min" ng:if="tools.popup_counter === 'true' || tools.popup_price === 'true'">
							<div class="flycart-product-quantity" ng:if="tools.popup_counter === 'true'">
								<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}"
								           ng:if="tools.popup_max_on === 'true'"></kw:number>
								<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}" max="{{ ::product.maximum }}"
								           ng:if="tools.popup_max_on === 'false'"></kw:number>
							</div>

							<div class="flycart-product-total" ng:if="tools.popup_price === 'true'" ng:class="{'right-price': tools.popup_premove === 'false'}">
								<span class="kw-price" ng:bind-html="::product.total" ng:if="!product.special"></span>
								<span class="kw-price-old" ng:bind-html="::product.special" ng:if="product.special"></span>
								<span class="kw-price-new" ng:bind-html="::product.total" ng:if="product.special"></span>
							</div>
						</div>
						<div class="clearfix" ng:if="tools.popup_counter === 'true' || tools.popup_price === 'true'"></div>

						<div class="flycart-product-options" ng:if="product.option.length > 0">
							<span class="flycart-product-option" ng:repeat="option in product.option" ng:cloak>-
								<span ng:bind-html="::option.name"></span>:
								<span ng:bind-html="::option.value"></span>
							</span>

							<span class="flycart-module-option" ng:if="tools.text_payment_profile && product.recurring">
								- <span ng:bind-html="::tools.text_payment_profile"></span>: <span ng:bind-html="::product.profile"></span>
							</span>
						</div>
					</td>

					<td class="flycart-product-quantity max" ng:if="tools.popup_counter === 'true'">
						<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}"
						           ng:if="tools.popup_max_on === 'true'"></kw:number>
						<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}" max="{{ ::product.maximum }}"
						           ng:if="tools.popup_max_on === 'false'"></kw:number>
					</td>

					<td class="flycart-product-total max" ng:if="tools.popup_price === 'true'" ng:class="{'right-price': tools.popup_premove === 'false'}">
						<span class="kw-price" ng:bind-html="::product.total" ng:if="!product.special"></span>
						<span class="kw-price-old" ng:bind-html="::product.special" ng:if="product.special"></span>
						<span class="kw-price-new" ng:bind-html="::product.total" ng:if="product.special"></span>
					</td>

					<td class="flycart-product-remove max" ng:init="remove[$index] = false;" ng:if="tools.popup_premove === 'true'">
						<span ng:click="removeProduct(product.key);" class="flycart-product-remove-button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M6.9997916,3.8641534L3.1369467,0L0,3.1116669L3.8753459,6.988327L3.8632617,7l0.0120842,0.0120897 L0,10.8883333L3.1369467,14l3.8628449-3.8637362L10.8630533,14L14,10.8883333l-3.8757629-3.8762436L10.136322,7l-0.012085-0.011673 L14,3.1116669L10.8630533,0L6.9997916,3.8641534z"/>
							</svg>
						</span>
					</td>
				</tr>

				<tr class="flycart-product" ng:repeat="voucher in cart.vouchers">
					<td class="flycart-product-image"></td>
					<td class="flycart-product-name"><a ng:href="{{ ::voucher.href }}"><span ng:bind-html="::voucher.description"></span></a></td>
					<td class="flycart-product-quantity">x&nbsp;1</td>
					<td class="flycart-product-total" ng:bind-html="::voucher.amount"></td>
					<td class="flycart-product-remove">
						<span ng:click="removeProduct(voucher.key);" class="flycart-product-remove-button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M6.9997916,3.8641534L3.1369467,0L0,3.1116669L3.8753459,6.988327L3.8632617,7l0.0120842,0.0120897 L0,10.8883333L3.1369467,14l3.8628449-3.8637362L10.8630533,14L14,10.8883333l-3.8757629-3.8762436L10.136322,7l-0.012085-0.011673 L14,3.1116669L10.8630533,0L6.9997916,3.8641534z"/>
							</svg>
						</span>
					</td>
				</tr>
			</table>

			<div class="flycart-coupon" ng:if="tools.popup_coupon === 'true'">
				<div class="coupon-error" ng:bind-html="::tools.coupon_error[lang_id]" ng:if="coupon_error"></div>
				<div class="coupon-active" ng:if="cart.coupon">
					<span class="coupon-active-label" ng:bind-html="::tools.selected_coupon[lang_id]"></span>
					<span ng:bind-html="cart.coupon"></span>
				</div>
				<input type="text" ng:model="coupon" placeholder="{{::tools.coupon_placeholder[lang_id]}}">
				<a href="javascript:void(0);" ng:click="getCoupon(coupon);" class="flycart-button coupon-button"
				   ng:bind-html="::tools.coupon_btn_txt[lang_id]"></a>
			</div>

			<div class="flycart-totals" ng:if="tools.show_totals === 'true'">
				<div class="flycart-total" ng:repeat="total in cart.totals">
					<span class="flycart-total-label" ng:bind-html="total.title + ':'"></span>
					<span class="flycart-total-result" ng:bind-html="total.text"></span>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="kw-flycart-popup-loader" ng:if="popupLoader === true">
				<div class="sk-circle">
					<div class="sk-circle1 sk-child"></div>
					<div class="sk-circle2 sk-child"></div>
					<div class="sk-circle3 sk-child"></div>
					<div class="sk-circle4 sk-child"></div>
					<div class="sk-circle5 sk-child"></div>
					<div class="sk-circle6 sk-child"></div>
					<div class="sk-circle7 sk-child"></div>
					<div class="sk-circle8 sk-child"></div>
					<div class="sk-circle9 sk-child"></div>
					<div class="sk-circle10 sk-child"></div>
					<div class="sk-circle11 sk-child"></div>
					<div class="sk-circle12 sk-child"></div>
				</div>
			</div>
		</div>

		<div class="flycart-container empty-cart" ng:if="cart.products.length === 0 && cart.vouchers.length === 0">
			<span ng:if="tools.popup_empty_type === 'text'" ng:bind-html="::tools.popup_empty_text[lang_id]"></span>

			<img ng:src="./kw_application/flycart/images/empty/{{::tools.popup_empty_image}}" alt=""
			     width="{{::tools.popup_empty_image_width}}" height="{{::tools.popup_empty_image_height}}" ng:if="tools.retina === 'true' && tools.popup_empty_type === 'image'" />

			<img ng:src="./kw_application/flycart/images/empty/{{::tools.popup_empty_image}}" alt="" ng:if="tools.retina === 'false' && tools.popup_empty_type === 'image'" />
		</div>

		<div class="flycart-options-footer"
		     ng:class="{
						'button-count-3': (tools.continue_btn === 'true' && tools.viewcart_btn === 'true' && tools.checkout_btn === 'true'),
						'button-count-2': (tools.continue_btn === 'true' && tools.viewcart_btn === 'true' && tools.checkout_btn === 'false') ||
						(tools.continue_btn === 'true' && tools.viewcart_btn === 'false' && tools.checkout_btn === 'true') ||
						(tools.continue_btn === 'false' && tools.viewcart_btn === 'true' && tools.checkout_btn === 'true'),
						'button-empty': (tools.continue_btn === 'true' && cart.products.length < 1 && cart.vouchers.length < 1)
					}"

		     ng:if="(tools.continue_btn === 'true' || tools.viewcart_btn === 'true' || tools.checkout_btn === 'true') || (tools.popup_footer_items === 'true' || tools.popup_footer_weight === 'true' || tools.popup_footer_total === 'true')">

			<div ng:if="cart.products.length > 0 || cart.vouchers.length > 0">
				<div class="flycart-footer-info" ng:if="tools.popup_footer_items === 'true' || tools.popup_footer_names === 'true' || tools.popup_footer_weight === 'true' || tools.popup_footer_total === 'true'">

					<span class="flycart-footer-info-items" ng:if="tools.popup_footer_items === 'true'"
					      ng:bind-html="(cart.count | declension:tools.items_b1[lang_id]:tools.items_b2[lang_id]:tools.items_b3[lang_id]) + ' '"></span>

					<span class="flycart-footer-info-items" ng:if="tools.popup_footer_names === 'true'"
					      ng:bind-html="(cart.products.length | declension:tools.items_n1[lang_id]:tools.items_n2[lang_id]:tools.items_n3[lang_id]) + ' '"></span>

					<span class="flycart-footer-info-weight" ng:bind-html="'(' + cart.weight + ')'" ng:if="tools.popup_footer_weight === 'true' && cart.weight.length > 0"></span>
					<span class="flycart-footer-info-total" ng:bind-html="tools.b_total[lang_id] + ' ' + cart.total" ng:if="tools.popup_footer_total === 'true'"></span>
				</div>
			</div>

			<div class="buttons-container">

				<div class="button-container close-btn" ng:if="tools.continue_btn === 'true'">
					<a href="javascript:void(0);" ng:click="popupClose();" class="flycart-button close-button">
						<span class="flycart-button-text" ng:bind-html="::tools.continue_btn_txt[lang_id]"></span>

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="298.0143433 388.4876709 16 15" enable-background="new 298.0143433 388.4876709 16 15" xml:space="preserve" width="16px" height="15px"><path d="M314.0143433,398.3878784c0,1.0409546-0.3750305,2.4468994-1.1340637,4.2278442 c-0.0629883,0.1589661-0.2319946,0.5809631-0.3300171,0.7119446c-0.071991,0.1040039-0.1520081,0.1600037-0.25,0.1600037 c-0.1790161,0-0.2860107-0.1409912-0.2860107-0.3279724c0-0.1130066,0.0450134-0.3939819,0.0450134-0.4689941 c0.0269775-0.4219666,0.0449829-0.8059692,0.0449829-1.1529541c0-1.8939209-0.4550171-3.1778564-1.3040466-3.9378357 c-0.5810242-0.5339661-1.2150574-0.8619385-2.1340942-1.0499573c-0.9030457-0.1959839-1.769104-0.2619629-2.9391479-0.2619629 h-2.0000916v2.3998718c0.0270081,0.5059814-0.6520386,0.815979-0.973053,0.4219971l-4.5722046-4.7998047 c-0.2230225-0.2339783-0.2230225-0.6089783,0-0.8439636l4.5722046-4.7997742 c0.3220215-0.3939819,1.000061-0.0840149,0.973053,0.4219666v2.3999023h2.0000916 c4.2421875,0,6.8493042,1.2559509,7.8143616,3.777832C313.8533325,396.1009827,314.0143433,397.1409302,314.0143433,398.3878784z"/></svg>
					</a>
				</div>

				<div class="button-container tocart-btn"
				     ng:if="tools.viewcart_btn === 'true' && (cart.products.length > 0 || cart.vouchers.length > 0)">

					<a ng:href="{{::tools.cart}}" class="flycart-button tocart-button">
						<span class="flycart-button-text" ng:bind-html="::tools.viewcart_btn_txt[lang_id]"></span>

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 14" enable-background="new 0 0 16 14" xml:space="preserve" width="16px" height="14px"><path d="M5.7885332,11.8324003c0.2402668,0.2485332,0.3652,0.5467997,0.3652,0.8947992 c0,0.3480005-0.1249332,0.6462669-0.3652,0.8948002C5.5481334,13.8706665,5.2597332,14,4.9229331,14 c-0.3363996,0-0.6345329-0.1293335-0.8749332-0.3780003C3.8076,13.3734665,3.6924,13.0752001,3.6924,12.7271996 c0-0.3479996,0.1152-0.646266,0.3555999-0.8947992c0.2404003-0.2485332,0.5385337-0.3778667,0.8749332-0.3778667 C5.2597332,11.4545336,5.5481334,11.5838671,5.7885332,11.8324003L5.7885332,11.8324003z M14.4038668,11.8324003 c0.2404003,0.2485332,0.3653336,0.5467997,0.3653336,0.8947992c0,0.3480005-0.1249332,0.6462669-0.3653336,0.8948002 C14.1634665,13.8706665,13.8750668,14,13.5383997,14c-0.3365326,0-0.6346664-0.1293335-0.8749332-0.3780003 c-0.2403994-0.2485332-0.3557329-0.5467997-0.3557329-0.8948002c0-0.3479996,0.1153336-0.646266,0.3557329-0.8947992 c0.2402668-0.2485332,0.5384007-0.3778667,0.8749332-0.3778667C13.8750668,11.4545336,14.1634665,11.5838671,14.4038668,11.8324003 L14.4038668,11.8324003z M16,1.9092V7c0,0.3182669-0.2307997,0.5965333-0.5481329,0.6364002L5.4133334,8.8494663 C5.4326668,9.0084,5.5385332,9.3764,5.5385332,9.5454664c0,0.1094666-0.0770664,0.3182669-0.2307997,0.6362667h8.8461332 c0.3365335,0,0.6153336,0.2885332,0.6153336,0.6365337c0,0.3479996-0.2788,0.6362667-0.6153336,0.6362667H4.3077335 c-0.3365335,0-0.6153336-0.2882671-0.6153336-0.6362667c0-0.0897331,0.0383999-0.2189331,0.1056001-0.3880005 c0.0673332-0.1689329,0.1634665-0.367733,0.2789333-0.5965328C4.2018666,9.6051998,4.2691998,9.485733,4.2789335,9.4560003 L2.5768001,1.2726667H0.6153333C0.2788,1.2726667,0,0.9844,0,0.6364C0,0.2885333,0.2788,0,0.6153333,0h2.4616001 c0.3173332,0,0.5,0.1890667,0.5865333,0.4673333C3.7018666,0.5668,3.7307999,0.6562667,3.7404001,0.7258667 c0.0288,0.1492,0.0865333,0.4574666,0.0962665,0.5468h11.5480003C15.7212,1.2726667,16,1.5612,16,1.9092z"/></svg>
					</a>
				</div>

				<div class="button-container checkout-btn"
				     ng:if="tools.checkout_btn === 'true' && cart.products.length > 0 || tools.checkout_btn === 'true' && cart.vouchers.length > 0">

					<a ng:href="{{::tools.checkout}}" class="flycart-button checkout-button" ng:bind-html="::tools.checkout_btn_txt[lang_id]"></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>