<div id="flycart-notice" ng:class="{'enter': showNotice, 'leave': !showNotice}">
	<span class="flycart-options-close" ng:click="noticeClose();">
		<svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2.3976998 2.40025" enable-background="new 0 0 2.3976998 2.40025" xml:space="preserve"  width="11px" height="11px"><path d="M2.3457999,0.5529c0.0692-0.0691,0.0692-0.1813,0-0.2505L2.0957,0.0519c-0.0692-0.0692-0.1812-0.0692-0.2503,0L1.324,0.5739c-0.0691,0.0691-0.1812,0.0691-0.2503,0l-0.5214-0.522c-0.069-0.0692-0.1811-0.0692-0.2502,0L0.0519,0.3024c-0.0692,0.0692-0.0692,0.1814,0,0.2505L0.5732,1.0748C0.6424,1.1441,0.6424,1.2562,0.5732,1.3254l-0.5213,0.522C0.0187,1.8806,0,1.9256999,0,1.9727c0,0.0468999,0.0187,0.0919999,0.0519,0.1251999L0.3021,2.3485c0.0691,0.069,0.1812,0.069,0.2502,0l0.5214-0.5221001c0.0691-0.0691,0.1812-0.0691,0.2503,0L1.8454,2.3485c0.0691,0.069,0.1811,0.069,0.2503,0l0.2500999-0.2506001c0.0332999-0.0332,0.0518999-0.0783,0.0518999-0.1251999c0-0.0470001-0.0186-0.0921-0.0518999-0.1253l-0.5213-0.522c-0.0692-0.0692-0.0692-0.1813,0-0.2506L2.3457999,0.5529z"/>
		</svg>
	</span>

	<a ng:href="{{ ::notifyProduct.href }}" ng:if="tools.noti_image === 'true'">
		<img ng:src="{{ ::notifyProduct.thumb }}" alt width="{{::tools.noti_image_width}}" height="{{::tools.noti_image_height}}" class="notice-product-image"
		     ng:if="tools.retina === 'true'" />
		<img ng:src="{{ ::notifyProduct.thumb }}" alt ng:if="tools.retina === 'false'" class="notice-product-image" />
	</a>

	<div class="notice-product-name" ng:bind-html="noticeMessage(notifyProduct, tools.text_added[lang_id])"></div>
	<div class="clearfix"></div>

	<a ng:href="{{::tools.cart}}" class="flycart-button close-button" ng:if="tools.continue_noti_btn === 'true'" ng:bind-html="::tools.noti_continue_btn[lang_id]"></a>
	<a ng:href="{{::tools.checkout}}" class="flycart-button tocart-button" ng:if="tools.viewcart_noti_btn === 'true'" ng:bind-html="::tools.noti_viewcart_btn[lang_id]"></a>
</div>