<form name="flycartOptions" novalidate id="flycart-options-dialog" class="zoom-anim-dialog">
	<div class="flycart-options-header">
		<span ng:bind-html="::tools.options_text[lang_id]"></span>

		<span class="flycart-options-close" ng:click="popupClose();">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M13.783968,2.3037212c0.288043-0.2881861,0.288043-0.7556047,0-1.0437908l-1.0437918-1.0437908 c-0.288043-0.2881861-0.755332-0.2881861-1.0437918,0L7.5220523,4.3908868c-0.2884603,0.2881861-0.7557487,0.2881861-1.0437918,0 L2.3035111,0.2161396c-0.288043-0.2881861-0.7553315-0.2881861-1.0433747,0L0.216345,1.2599304 c-0.28846,0.2881861-0.28846,0.7556047,0,1.0437908l4.1743326,4.1743317c0.2884598,0.2886019,0.2884598,0.7556047,0,1.0437908 l-4.1743326,4.174747C0.0779509,11.8350697,0,12.0226192,0,12.2184858c0,0.1954508,0.0779509,0.3834171,0.216345,0.5218954 l1.0437915,1.0437908c0.2880431,0.2877703,0.7553316,0.2877703,1.0433747,0l4.1747494-4.1751633 c0.288043-0.2877703,0.7553315-0.2877703,1.0437918,0l4.1743321,4.1751633c0.2884598,0.2877703,0.7557487,0.2877703,1.0437918,0 l1.0437918-1.0437908c0.1383934-0.1384783,0.2159281-0.3264446,0.2159281-0.5218954 c0-0.1958666-0.0775347-0.3834162-0.2159281-0.5218954l-4.1747494-4.174747c-0.288043-0.2881861-0.288043-0.7551889,0-1.0437908 L13.783968,2.3037212z"/></svg>
		</span>

		<div class="flycart-options-product">
			<img ng:src="{{ ::options.image }}" width="30" height="30" alt ng:if="tools.retina === 'true'" />
			<img ng:src="{{ ::options.image }}" alt ng:if="tools.retina === 'false'" />
			<span ng:bind-html="::options.name"></span>
		</div>
	</div>

	<div class="flycart-options zoom-anim-dialog" ng:if="options">
		<div class="flycart-options-wrapper">
			<div class="flycart-option" ng:repeat="option in options" ng:if="option.name">

				<label ng:bind-html="::option.name" ng:class="{'required': option.required === '1' }" class="flycart-name-label"></label>

				<div ng:if="::option.type === 'select'" class="flycart-option-row">
					<!-- option select -->
					<select ng:if="::option.type === 'select'" ng:model="flyoptions[option.product_option_id]" name="{{ option.product_option_id }}"
					        ng:required="option.required === '1'" ng:change="priceRecalc()">

						<option value="" ng:bind-html="::tools.select_text[lang_id]"></option>
						<option ng:repeat="value in option.option_value track by $index" value="{{ ::value.product_option_value_id }}"
						        ng:if="::value.price"
						        ng:bind-html="value.name + ' (' + value.price_prefix + ' ' + value.price + ')'"></option>

						<option ng:repeat="value in option.option_value track by $index" value="{{ ::value.product_option_value_id }}"
						        ng:if="::value.price === false"
						        ng:bind-html="::value.name"></option>
					</select>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'radio'" class="flycart-option-row">
					<!-- option select -->
					<label ng:repeat="value in option.option_value track by $index">
						<input type="radio" ng:model="flyoptions[option.product_option_id]" ng:value="::value.product_option_value_id"
						       name="{{ option.product_option_id }}" ng:required="option.required === '1'" ng:change="priceRecalc()" />

						<span ng:bind-html="::value.name"></span>
						<span ng:if="::value.price !== false" ng:bind-html="' (' + value.price_prefix + ' ' + value.price + ')'"></span>
					</label>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'checkbox'" class="flycart-option-row">
					<!-- option checkbox -->
					<label ng:repeat="value in option.option_value track by $index">
						<input type="checkbox" checklist-model="flyoptions[option.product_option_id]"
						       checklist-value="value.product_option_value_id" checklist-required="option.required"
						       name="{{ option.product_option_id }}" ng:change="priceRecalc()" />

						<span ng:bind-html="::value.name"></span>
						<span ng:if="::value.price !== false" ng:bind-html="' (' + value.price_prefix + ' ' + value.price + ')'"></span>
					</label>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'image'" class="flycart-option-row">
					<!-- option image -->
					<table class="flycart-option-image">
						<tr ng:repeat="value in option.option_value track by $index">
							<td style="width: 1px;">
								<input type="radio"
								       ng:model="flyoptions[option.product_option_id]" ng:value="::value.product_option_value_id"
							         id="option-value-{{ ::value.product_option_value_id }}"
							         name="{{ option.product_option_id }}" ng:required="option.required === '1'" ng:change="priceRecalc()" />
							</td>
							<td>
								<label for="option-value-{{ ::value.product_option_value_id }}"><img ng:src="{{ ::value.image }}" alt /></label>
							</td>
							<td>
								<label for="option-value-{{ ::value.product_option_value_id }}">
								<span ng:bind-html="::value.name"></span>
								<span ng:if="::value.price !== false" ng:bind-html="' (' + value.price_prefix + ' ' + value.price + ')'"></span>
							</label>
							</td>
						</tr>
					</table>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'text'" ng:init="flyoptions[option.product_option_id] = option.value" class="flycart-option-row">
					<!-- option text -->
					<input type="text" ng:model="flyoptions[option.product_option_id]" name="{{ option.product_option_id }}" ng:required="option.required === '1'" />

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'textarea'" ng:init="flyoptions[option.product_option_id] = option.value" class="flycart-option-row">
					<!-- option textarea -->
					<textarea cols="40" rows="5" ng:model="flyoptions[option.product_option_id]" name="{{ option.product_option_id }}"
					          ng:required="option.required === '1'"></textarea>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'file'" class="flycart-option-row">
					<!-- option file -->
					<div class="flycart-option-file" flow-init
					     flow-file-success="uploadSuccess($file, $message, option.product_option_id)"
					     flow-files-submitted="$flow.upload()">

						<button type="button" class="flycart-file-button" flow-btn>
							<span ng:bind-html="::tools.options_file_btn_txt[lang_id]"></span>
						</button>

						<span ng:if="uploadErrorMessage[option.product_option_id]"
						      ng:bind-html="uploadErrorMessage[option.product_option_id]" class="error"></span>

						<span ng:if="uploadSuccessMessage[option.product_option_id]"
						      ng:bind-html="uploadSuccessMessage[option.product_option_id]" class="success"></span>

						<input type="hidden" ng:model="flyoptions[option.product_option_id]" name="{{ option.product_option_id }}" ng:required="option.required === '1'" />
					</div>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'date'" ng:init="flyoptions[option.product_option_id] = option.value" class="flycart-option-row">
					<!-- option date -->
					<input type="text"
					       ng:model="flyoptions[option.product_option_id]"
					       name="{{ option.product_option_id }}"
					       ng:required="option.required === '1'"
					       datetime-picker="yyyy-MM-dd"
					       is-open="date[$index]"
					       ng:click="date[$index] = true"
					       enable-time="false"
					       datepicker-options="dateOptions"

					       today-text="{{::tools.today_txt[lang_id]}}"
					       date-text="{{::tools.date_txt[lang_id]}}"
					       close-text="{{::tools.close_txt[lang_id]}}"
							/>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'datetime'" ng:init="flyoptions[option.product_option_id] = option.value" class="flycart-option-row">
					<!-- option datetime -->
					<input type="text"
					       ng:model="flyoptions[option.product_option_id]"
					       name="{{ option.product_option_id }}"
					       ng:required="option.required === '1'"
					       datetime-picker="yyyy-MM-dd HH:mm"
					       is-open="datetime[$index]"
					       timepicker-options="timeOptions"
					       ng:click="datetime[$index] = true"
					       datepicker-options="dateOptions"

					       today-text="{{::tools.today_txt[lang_id]}}"
					       now-text="{{::tools.now_txt[lang_id]}}"
					       date-text="{{::tools.date_txt[lang_id]}}"
					       time-text="{{::tools.time_txt[lang_id]}}"
					       close-text="{{::tools.close_txt[lang_id]}}"
							/>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>

				<div ng:if="::option.type === 'time'" ng:init="flyoptions[option.product_option_id] = option.value" class="flycart-option-row">
					<!-- option time -->
					<input type="text"
					       ng:model="flyoptions[option.product_option_id]"
					       name="{{ option.product_option_id }}"
					       ng:required="option.required === '1'"
					       datetime-picker="HH:mm"
					       is-open="time[$index]"
					       ng:click="time[$index] = true"
					       timepicker-options="timeOptions"
					       enable-date="false"

					       now-text="{{::tools.now_txt[lang_id]}}"
					       time-text="{{::tools.time_txt[lang_id]}}"
					       close-text="{{::tools.close_txt[lang_id]}}"
							/>

					<span class="flycart-option-error"
					      ng:if="option.required === '1' && flycartOptions[option.product_option_id].$dirty && flycartOptions[option.product_option_id].$error.required"
					      ng:bind-html="::tools.require_text[lang_id]"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="flycart-options-footer options-footer">
			<span class="totals">
				<span class="flycart-options-price" ng:bind-html="options.total" ng:if="!options.special"></span>
				<span class="flycart-options-price-old" ng:bind-html="options.total" ng:if="options.special"></span>
				<span class="flycart-options-price-special" ng:bind-html="options.special" ng:if="options.special"></span>
			</span>

		<button type="submit" class="flycart-options-button flycart-button options-button tocart-button" ng:click="addToCartOptions(flycartOptions, flyoptions, options.product_id);" ng:class="{ 'invalid': flycartOptions.$invalid, 'loadind': optionsLoading }">
			<span ng:if="!optionsLoading" ng:bind-html="::tools.options_btn_txt[lang_id]"></span>
			<span ng:if="optionsLoading" ng:bind-html="::tools.adding_btn[lang_id]"></span>
		</button>

		<kw:number model="flyoptions.quantity" min="{{ ::options.minimum }}" ng:init="flyoptions.quantity = options.minimum | num"
		           options="true" ng:if="tools.module_type === 'module' && tools.module_max_on === 'true'"></kw:number>

		<kw:number model="flyoptions.quantity" min="{{ ::options.minimum }}" max="{{ ::options.maximum }}" ng:init="flyoptions.quantity = options.minimum | num"
		           options="true" ng:if="tools.module_type === 'module' && tools.module_max_on === 'false'"></kw:number>

		<kw:number model="flyoptions.quantity" min="{{ ::options.minimum }}" ng:init="flyoptions.quantity = options.minimum | num"
		           options="true" ng:if="tools.module_type !== 'module' && tools.popup_max_on === 'true'"></kw:number>

		<kw:number model="flyoptions.quantity" min="{{ ::options.minimum }}" max="{{ ::options.maximum }}" ng:init="flyoptions.quantity = options.minimum | num"
		           options="true" ng:if="tools.module_type !== 'module' && tools.popup_max_on === 'false'"></kw:number>

	</div>
</form>