<h3 class="box-heading">
	<span ng:if="tools.show_module_header === 'true'" ng:bind-html="::tools.header[lang_id]"></span>
</h3>

<div class="flicart-module-box">
	<div class="flycart-top-info" ng:if="(cart.products.length > 0 || cart.vouchers.length > 0) && (tools.show_module_items === 'true' || tools.show_module_names === 'true' || tools.show_module_weight === 'true')">
		<span class="flycart-module-footer-info-items" ng:if="tools.show_module_items === 'true'"
		      ng:bind-html="(cart.count | declension:tools.items_b1[lang_id]:tools.items_b2[lang_id]:tools.items_b3[lang_id]) + ' '"></span>

		<span class="flycart-module-footer-info-items" ng:if="tools.show_module_names === 'true'"
		      ng:bind-html="(cart.products.length | declension:tools.items_n1[lang_id]:tools.items_n2[lang_id]:tools.items_n3[lang_id]) + ' '"></span>

		<span class="flycart-module-footer-info-weight" ng:bind-html="'(' + cart.weight + ')'" ng:if="cart.weight.length > 0 && tools.show_module_weight === 'true'"></span>
	</div>

	<div class="flycart-module-container">
		<div class="flycart-module">
			<div class="flycart-module-product box-product related-parent" ng:repeat="product in cart.products">

				<div class="flycart-module-image" ng:if="tools.show_module_image === 'true'">
					<a ng:href="{{ ::product.href }}" class="related-links">
						<img ng:src="{{ ::product.thumb }}" width="{{::tools.module_imgage_width}}" height="{{::tools.module_imgage_height}}" alt ng:if="tools.retina === 'true'" />
						<img ng:src="{{ ::product.thumb }}" alt ng:if="tools.retina === 'false'" />
					</a>
				</div>

				<div class="flycart-module-product-title" ng:if="tools.show_module_name === 'true' || tools.show_module_remove">
					<div class="flycart-module-name name" ng:if="tools.show_module_name === 'true'">
						<h4><a ng:href="{{ ::product.href }}" class="related-links"><span ng:bind-html="::product.name"></span></a></h4>
					</div>

					<div class="flycart-module-remove" ng:init="remove[$index] = false;" ng:if="tools.show_module_remove === 'true'">
						<span ng:click="removeProduct(product.key);" class="flycart-product-remove-button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="10px" height="10px"><path d="M6.9997916,3.8641534L3.1369467,0L0,3.1116669L3.8753459,6.988327L3.8632617,7l0.0120842,0.0120897 L0,10.8883333L3.1369467,14l3.8628449-3.8637362L10.8630533,14L14,10.8883333l-3.8757629-3.8762436L10.136322,7l-0.012085-0.011673 L14,3.1116669L10.8630533,0L6.9997916,3.8641534z"/>
							</svg>
						</span>
					</div>
				</div>
				<div class="clearfix"></div>

				<span class="maximum-alert"
				      ng:if="product.quantity >= product.maximum && tools.module_alert_on === 'true'"
				      ng:bind-html="product.min_error"></span>

				<span class="minimum-alert"
				      ng:if="product.quantity <= product.minimum && product.minimum > 1 && tools.module_info_on === 'true'"
				      ng:bind-html="product.max_error"></span>

				<span class="flycart-product-weight" ng:if="tools.show_module_p_weight === 'true'">
					<span ng:bind-html="tools.sum_weight[lang_id]"></span>
					<span ng:bind-html="product.weight" class="flycart-product-weight-text"></span>
				</span>

				<span class="flycart-product-stock" ng:if="tools.show_module_stock === 'true'">
					<span ng:bind-html="tools.stock[lang_id]"></span>
					<span ng:bind-html="product.stock" class="flycart-product-stock-text" style="color: {{tools.module_stock_color[product.stock_status_id]}}"></span>
				</span>

				<div class="flycart-module-total" ng:if="tools.show_module_price === 'true'">
					<span class="price" ng:bind-html="::product.total" ng:if="!product.special"></span>
					<span class="price-old" ng:bind-html="::product.special" ng:if="product.special"></span>
					<span class="price-new" ng:bind-html="::product.total" ng:if="product.special"></span>
				</div>

				<div class="flycart-module-quantity" ng:if="tools.show_module_quantity === 'true'">
					<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}"
					           ng:if="tools.module_max_on === 'true'"></kw:number>
					<kw:number model="product.quantity" key="{{ ::product.key }}" min="{{ ::product.minimum }}" max="{{ ::product.maximum }}"
					           ng:if="tools.module_max_on === 'false'"></kw:number>
				</div>
				<div class="clearfix"></div>

				<div class="flycart-module-options" ng:if="product.option.length > 0">
					<span class="flycart-module-option" ng:repeat="option in product.option" ng:cloak>-
						<span ng:bind-html="::option.name"></span>:
						<span ng:bind-html="::option.value"></span>
					</span>

					<span class="flycart-module-option" ng:if="tools.text_payment_profile && product.recurring">
						- <span ng:bind-html="::tools.text_payment_profile"></span>: <span ng:bind-html="::product.profile"></span>
					</span>
				</div>
			</div>

			<div class="flycart-module-product" ng:repeat="voucher in cart.vouchers">
				<div class="flycart-module-name" ng:if="tools.show_module_name === 'true'">
					<a ng:href="{{ ::voucher.href }}"><span ng:bind-html="::voucher.description"></span></a>
				</div>

				<div class="flycart-module-remove" ng:if="tools.show_module_remove === 'true'">
					<span ng:click="removeProduct(voucher.key);" class="flycart-module-remove-button">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve" width="14px" height="14px"><path d="M6.9997916,3.8641534L3.1369467,0L0,3.1116669L3.8753459,6.988327L3.8632617,7l0.0120842,0.0120897 L0,10.8883333L3.1369467,14l3.8628449-3.8637362L10.8630533,14L14,10.8883333l-3.8757629-3.8762436L10.136322,7l-0.012085-0.011673 L14,3.1116669L10.8630533,0L6.9997916,3.8641534z"/>
						</svg>
					</span>
				</div>

				<div class="flycart-module-image" ng:if="tools.show_module_image === 'true'"></div>
				<div class="flycart-module-quantity" ng:if="tools.show_module_quantity === 'true'">x&nbsp;1</div>
				<div class="flycart-module-total" ng:bind-html="::voucher.amount" ng:if="tools.show_module_price === 'true'"></div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="flycart-coupon" ng:if="tools.module_coupon === 'true' && (cart.products.length > 0 || cart.vouchers.length > 0)">
			<div class="coupon-error" ng:bind-html="::tools.coupon_error[lang_id]" ng:if="coupon_error"></div>
			<div class="coupon-active" ng:if="cart.coupon">
				<span class="coupon-active-label" ng:bind-html="::tools.selected_coupon[lang_id]"></span>
				<span ng:bind-html="cart.coupon"></span>
			</div>
			<input type="text" ng:model="coupon" placeholder="{{::tools.module_coupon_placeholder[lang_id]}}">
			<a href="javascript:void(0);" ng:click="getCoupon(coupon);" class="flycart-button module-coupon-button"
			   ng:bind-html="::tools.module_coupon_btn_txt[lang_id]"></a>
		</div>

		<div class="flycart-module-totals"
		     ng:if="(tools.show_totals === 'true' && (cart.products.length > 0 || cart.vouchers.length > 0)) && tools.show_module_totals === 'true'">

			<div class="flycart-total" ng:repeat="total in cart.totals">
				<span class="flycart-module-total-label" ng:bind-html="total.title + ':'"></span>
				<span class="flycart-module-total-result" ng:bind-html="total.text"></span>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="flycart-container empty-cart" ng:if="cart.products.length === 0 && cart.vouchers.length === 0">
			<span ng:if="tools.module_empty_type === 'text'" ng:bind-html="::tools.module_empty_text_lang[lang_id]"></span>

			<img ng:src="./kw_application/flycart/images/empty/{{::tools.module_empty_image}}" alt
			     width="{{::tools.module_empty_image_width}}" height="{{::tools.module_empty_image_height}}" ng:if="tools.retina === 'true' && tools.module_empty_type === 'image'" />

			<img ng:src="./kw_application/flycart/images/empty/{{::tools.module_empty_image}}" alt ng:if="tools.retina === 'false' && tools.module_empty_type === 'image'" />
		</div>

		<div class="flycart-module-footer" ng:if="cart.products.length > 0 || cart.vouchers.length > 0">
			<a ng:href="{{::tools.cart}}" class="flycart-button module-tocart-button" ng:if="tools.tocart_module_btn === 'true'" ng:bind-html="tools.module_tocart_btn_text[lang_id]"></a>
			<a ng:href="{{::tools.checkout}}" class="flycart-button module-checkout-button" ng:if="tools.checkout_module_btn === 'true'" ng:bind-html="tools.module_checkout_btn_text[lang_id]"></a>
			<div class="clearfix"></div>
		</div>

	</div>
</div>