.mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			

				.mfilter-slider-slider .ui-slider-range,
				#mfilter-price-slider .ui-slider-range {
					background: #cccccc !important;
				}
			

				.mfilter-heading {
					background: #ffffff;
				}
			

				.mfilter-opts-container {
					border-top-color: #ffffff;
				}
			
.mfilter-box-1 .mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-box-1 .mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-box-1.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-box-1 .mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			

				.mfilter-box-1 .mfilter-slider-slider .ui-slider-range,
				.mfilter-box-1 #mfilter-price-slider .ui-slider-range {
					background: #000000 !important;
				}
			

				.mfilter-box-1 .mfilter-heading {
					background: #ffffff;
				}
			

				.mfilter-box-1 .mfilter-opts-container {
					border-top-color: #ffffff;
				}
			
.mfilter-box-2 .mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-box-2 .mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-box-2.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-box-2 .mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			

				.mfilter-box-2 .mfilter-slider-slider .ui-slider-range,
				.mfilter-box-2 #mfilter-price-slider .ui-slider-range {
					background: #cccccc !important;
				}
			

				.mfilter-box-2 .mfilter-heading {
					background: #ffffff;
				}
			

				.mfilter-box-2 .mfilter-opts-container {
					border-top-color: #ffffff;
				}
			
.mfilter-box-4 .mfilter-counter {
	background: #428bca;
	color: #ffffff;

}
.mfilter-box-4 .mfilter-counter:after {
	border-right-color: #428bca;

}
.mfilter-box-4.mfilter-direction-rtl .mfilter-counter:after {
	left: 100%;
	right: auto;
	border-right-color: none;
	border-left-color: #428bca;

}

				.mfilter-box-4 .mfilter-search #mfilter-opts-search_button {
					background-color: #428bca;
				}
			

				.mfilter-box-4 .mfilter-slider-slider .ui-slider-range,
				.mfilter-box-4 #mfilter-price-slider .ui-slider-range {
					background: #cccccc !important;
				}
			

				.mfilter-box-4 .mfilter-heading {
					background: #ffffff;
				}
			

				.mfilter-box-4 .mfilter-opts-container {
					border-top-color: #ffffff;
				}
			