/*
 * YO Menu v1.1.5
 * Copyright 2016, iDiY
 * Contact: info@idiy.club
 */

/*  Default Style  */
.yo-menu
{
    margin-bottom: 20px;
}
.yo-heading
{
    font-size: 16px;
    position: relative;
    padding: 10px 14px;
    cursor: pointer;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
    text-shadow: 0 1px 0 #fff;
}
.yo-heading.yo-open
{
    border-bottom-color: transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.yo-heading.yo-close
{
    background-color: #fff;
}
.yo-heading i.fa.fa-bars
{
    line-height: 20px;
    float: right;
}
.yo-wrapper
{
    border: 1px solid #ddd;
    border-radius: 4px;
}
.yo-heading + .yo-wrapper
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.yo-menu ul.yo-pm li
{
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
.yo-menu ul.yo-pm li + li,
.yo-menu ul.yo-pm li li
{
    border-top: 1px solid #e7e7e7;
}
.yo-menu ul.yo-pm li a
{
    padding: 8px 20px 8px 12px;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-decoration: none;
    color: #777;
    background-color: #fff;
    text-shadow: 0 1px 0 #fff;
}
.yo-menu ul.yo-pm li a:hover
{
    color: #333;
    background-color: #f7f7f7;
}
.yo-menu ul.yo-pm li a.active
{
    font-weight: bold;
    color: #333;
    background-color: #f7f7f7;
}
/*  End Default Style  */

ul.yo-pm,
ul.yo-pm ul
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}
ul.yo-pm
{
    position: relative;
}
ul.yo-pm ul
{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}
ul.yo-pm.pm-invisible,
ul.yo-pm ul.pm-invisible
{
    -webkit-transform: translate(-100%, 0);
       -moz-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}
ul.yo-pm li
{
    line-height: 20px;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
ul.yo-pm li a
{
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: none;
}
ul.yo-pm li a span
{
    position: relative;
    vertical-align: middle;
}
ul.yo-pm li a span.pm-badge
{
    font-size: 85%;
    font-weight: bold;
    margin-left: .4em;
    padding: 2px 6px;
    text-align: center;
    color: #444;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #f5f5f5;
}
ul.yo-pm li a.pm-parent:after
{
    font-family: FontAwesome;
    float: right;
    content: '\f105';
}
ul.yo-pm li a.pm-back span.pm-back-btn
{
    padding-left: 10px;
}
ul.yo-pm li a.pm-back:before
{
    font-family: FontAwesome;
    content: '\f104';
}
ul.yo-pm .pm-price
{
    font-size: 85%;
    float: right;
    margin-left: .4em;
    padding: 0 .6em;
    text-align: center;
    color: #444;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #f5f5f5;
}
ul.yo-pm li.pm-image > a,
ul.yo-pm li a.pm-image
{
    padding: 3px !important;
    text-align: center;
}
ul.yo-pm img
{
    overflow: hidden;
    max-width: 100% !important;
    height: auto;
    vertical-align: middle;
    border: 0;
}
ul.yo-pm img.pm-icon
{
    margin-right: .7em;
}
ul.yo-pm li a img.pm-icon + span
{
    display: inline;
}
