<div class="menu_tab">

	<!-- start: presets -->
	<div ng:include src="'../kw_application/flycart/admin/modules/main/views/presets.html'"></div>
	<!--/ end: presets -->

	<!-- start: default -->
	<div ng:include src="'../kw_application/flycart/admin/modules/main/views/default.html'"></div>
	<!--/ end: default -->

	<!-- start: modules -->
	<div ng:include src="'../kw_application/flycart/admin/modules/main/views/modules.html'"></div>
	<!--/ end: modules -->

</div>