<div class="tools_block add_modules" ng:controller="modulesController">
	<div class="tb_title"><span ng:bind="::locale.layouts_title"></span></div>

	<table>
		<thead>
		<tr>
			<th ng:bind="::locale.entry_layout"></th>
			<th ng:bind="::locale.entry_position"></th>
			<th ng:bind="::locale.entry_sort_order"></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng:repeat="module in modules">
			<td>
				<select ng:model="module.layout_id" ui-jq="select2" ui-options="{{selectOptions}}" select2-scrollbar
				        ng:options="l.layout_id as l.name for l in layouts"></select>
			<td>
				<select ng:model="module.position" ui-jq="select2" ui-options="{{selectOptions}}" select2-scrollbar>
					<option value="content_top" ng:bind="::locale.content_top"></option>
					<option value="content_bottom" ng:bind="::locale.content_bottom"></option>
					<option value="column_left" ng:bind="::locale.column_left"></option>
					<option value="column_right" ng:bind="::locale.column_right"></option>
				</select>
			</td>
			<td><kw:number model="module.sort_order" min="1"></kw:number></td>
			<td><a class="removeModule" ng:click="removeModule(modules, $index);"></a></td>
		</tr>
		</tbody>
	</table>
	<button type="button" ng:click="addModule(modules, layouts);" class="kw-btn" ng:bind="::locale.button_add_module"></button>

	<div class="clearfix"></div>
</div>
