.brand_carousel_skin {
	display:none;
}
.nbs-flexisel-container {
    position:relative;
    max-width:100%;
	padding-bottom: 10px;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}
.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    width:100%;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {     
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:40%;
    color: #7a7a7a;
    font: normal normal normal 14px/1 FontAwesome;
		font-size: 26px;
}
.nbs-flexisel-nav-left:hover,
.nbs-flexisel-nav-right:hover {
		color: #000;
}
.nbs-flexisel-nav-left {
    left: 10px;
}
.nbs-flexisel-nav-left:before {
  content: "\f053";

}
.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}
.nbs-flexisel-nav-right {
    right: 5px;    
}
.nbs-flexisel-nav-right:before {
    content: "\f054";
}
.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}
