<!-- start: loader -->
<div class="router-loader">
</div>
<!--/ end: loader -->

<!-- start: message -->
<div class="message {{status}}">
	{{message}}
	<span class="close-message" ng:click="closeMessage();"></span>
</div>
<!--/ end: message -->

<!-- start: header -->
<div id="head_module" ui-jq="stick_in_parent" ui-options="{'bottoming': false}"
     ng:include src="'../kw_application/flycart/admin/modules/base/views/header.html'"></div>
<!--/ end: header -->

<!-- start: left menu -->
<div id="tabs_menu" ui-jq="stick_in_parent" ui-options="{'offset_top': 57, 'bottoming': false}"
     ng:include src="'../kw_application/flycart/admin/modules/base/views/menu.html'"></div>
<!--/ end: left menu -->

<!-- start: base -->
<div id="content">

	<!-- start: content -->
	<div id="tabs_container" ui-view></div>
	<!--/ end: content -->

</div>
<!--/ end: base -->