<div class="head_bg">
	<div id="breadcrumbs">
		<span ng:repeat="breadcrumb in breadcrumbs">
			<span class="separator" ng:if="breadcrumb.separator === true"></span>
			<a ng:href="{{breadcrumb.href | href}}" ng:if="!$last">
				<span ng:bind-html="breadcrumb.text | sanitize"></span>
			</a>
			<span ng:bind-html="breadcrumb.text | sanitize" ng:if="$last"></span>
		</span>
	</div>

	<div id="save">
		<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.status" default-value="0" show-all></kw:switcher>
		<a ng:click="save()" class="kw-btn top" ng:bind="::locale.button_save"></a>
		<a ng:href="{{cancel | href}}" class="kw-btn top" ng:bind="::locale.button_cancel"></a>
		<a ng:click="apply()" class="kw-btn top" ng:bind="::locale.button_apply"></a>
	</div>
	<div class="clearfix"></div>
</div>