<div class="latestmore" <?php if(isset($module_id)){ ?>id="latestmore-<?php echo $module_id; ?>"<?php } ?>>
<h3><?php echo $heading_title; ?></h3>
<div class="row">
  <?php foreach ($products as $product) { ?>
  <div class="product-layout <?php if($view=='grid') echo 'product-grid col-lg-3 col-md-3 col-sm-6'; else echo 'product-list'; ?> col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" <?php foreach ($product['additional_img'] as $additional_img) { ?>data-additional="<?php echo $additional_img;?>"<?php } ?> alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
        <p><?php echo $product['description']; ?></p>
        <?php if ($product['rating']) { ?>
        <div class="rating">
          <?php for ($i = 1; $i <= 5; $i++) { ?>
          <?php if ($product['rating'] < $i) { ?>
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          <?php } else { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          <?php } ?>
          <?php } ?>
        </div>
        <?php } ?>
        <?php if ($product['price']) { ?>
        <p class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
          <?php } ?>
          <?php if ($product['tax']) { ?>
          <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
          <?php } ?>
        </p>
        <?php } ?>
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  <?php } ?>
</div>
<script type="text/javascript" src="catalog/view/javascript/latest-ajax-loader.js"></script>
<style>
  #ajax_loader {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    border: none!important; 
  }
  #arrow_top {
    background: url("../../../../../image/chevron_up.png") no-repeat transparent;
    background-size: cover;
    position: fixed;
    bottom: 50px;
    right: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  .latestmore .pagination{
    display: none !important;
  }
  a.load_more {
    <?php if (isset($loadmore_style)) {
      echo $loadmore_style;
    } else {?>
      display:inline-block; margin:0 auto 20px auto; padding: 0.5em 2em; border: 1px solid #000; color: #000;  text-decoration:none; text-transform:uppercase;
    <?php } ?>
  }
</style>    
<div class="padination-box">
  <div class="text-center"><?php echo $pagination; ?></div>
</div><!-- 
<div id="load_more" style="display:none;">
  <div class="row text-center">
    <a href="#" class="load_more"><?php echo $loadmore_button; ?></a>
  </div>
</div> -->
</div>