<div class="menu_tab">
	<div class="tools_block full">
		<div class="tb_title">
			<span ng:bind="::locale.faq_title"></span>
		</div>

		<div class="tb_wrapper">
			<div class="field empty-field">
				<div class="info-desc" ng:bind-html="::locale.faq_text | sanitize"></div>
			</div>
		</div>
	</div>
</div>