<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-testimonial" class="form-horizontal">
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-title"><?php echo $entry_title; ?></label>
			<div class="col-sm-10">
			  <input type="text" name="title" value="<?php echo $title; ?>" placeholder="<?php echo $entry_title; ?>" id="input-title" class="form-control" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-city"><?php echo $entry_city; ?></label>
			<div class="col-sm-10">
			  <input type="text" name="city" value="<?php echo $city; ?>" placeholder="<?php echo $entry_city; ?>" id="input-city" class="form-control" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-email"><?php echo $entry_email; ?></label>
			<div class="col-sm-10">
			  <input type="text" name="email" value="<?php echo $email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" class="form-control" />
			</div>
		  </div>
		  <div class="form-group required">
			<label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
			<div class="col-sm-10">
			  <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
			  <?php if ($error_name) { ?>
			  <div class="text-danger"><?php echo $error_name; ?></div>
			  <?php } ?>
			</div>
		  </div>
		  <div class="form-group required">
			<label class="col-sm-2 control-label" for="input-text"><?php echo $entry_text; ?></label>
			<div class="col-sm-10">
			  <textarea name="text" cols="60" rows="8" placeholder="<?php echo $entry_text; ?>" id="input-text" class="form-control"><?php echo $text; ?></textarea>
			  <?php if ($error_text) { ?>
			  <div class="text-danger"><?php echo $error_text; ?></div>
			  <?php } ?>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-good"><?php echo $entry_good; ?></label>
			<div class="col-sm-10">
			  <textarea name="good" cols="60" rows="8" placeholder="<?php echo $entry_good; ?>" id="input-good" class="form-control"><?php echo $good; ?></textarea>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-bad"><?php echo $entry_bad; ?></label>
			<div class="col-sm-10">
			  <textarea name="bad" cols="60" rows="8" placeholder="<?php echo $entry_bad; ?>" id="input-bad" class="form-control"><?php echo $bad; ?></textarea>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-rating"><?php echo $entry_rating; ?></label>
			<div class="col-sm-10">
			  <select name="rating" class="form-control" id="input-rating">
				<?php for($i = 1; $i <= 5; $i++){?>
				<option value="<?php echo $i; ?>"<?php if($rating == $i){ ?> selected="selected"<?php } ?>><?php echo $i; ?></option>
				<?php } ?>
			  </select>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-photo"><?php echo $entry_photo; ?></label>
			<div class="col-sm-10">
			  <a href="" id="thumb-photo" data-toggle="image" class="img-thumbnail"><img src="<?php echo $thumb; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><input type="hidden" name="photo" value="<?php echo $photo; ?>" id="input-photo" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-comment"><?php echo $entry_comment; ?></label>
			<div class="col-sm-10">
			  <textarea name="comment" cols="60" rows="8" placeholder="<?php echo $entry_comment; ?>" id="input-comment" class="form-control"><?php echo $comment; ?></textarea>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
			<div class="col-sm-10">
			  <select name="status" id="input-status" class="form-control">
				<?php if ($status) { ?>
				<option value="1" selected="selected"><?php echo $text_enabled; ?></option>
				<option value="0"><?php echo $text_disabled; ?></option>
				<?php } else { ?>
				<option value="1"><?php echo $text_enabled; ?></option>
				<option value="0" selected="selected"><?php echo $text_disabled; ?></option>
				<?php } ?>
			  </select>
			</div>
		  </div>			  			  
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-date-added"><?php echo $entry_date_added; ?></label>
			<div class="col-sm-3">
			  <div class="input-group date">
				<input type="text" name="date_added" value="<?php echo $date_added; ?>" placeholder="<?php echo $entry_date_added; ?>" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
				<span class="input-group-btn">
				<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
				</span></div>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label"><?php echo $entry_store; ?></label>
			<div class="col-sm-10">
			  <div class="well well-sm" style="height: 150px; overflow: auto;">
				<div class="checkbox">
				  <label>
					<?php if (in_array(0, $testimonial_store)) { ?>
					<input type="checkbox" name="testimonial_store[]" value="0" checked="checked" />
					<?php echo $text_default; ?>
					<?php } else { ?>
					<input type="checkbox" name="testimonial_store[]" value="0" />
					<?php echo $text_default; ?>
					<?php } ?>
				  </label>
				</div>
				<?php foreach ($stores as $store) { ?>
				<div class="checkbox">
				  <label>
					<?php if (in_array($store['store_id'], $testimonial_store)) { ?>
					<input type="checkbox" name="testimonial_store[]" value="<?php echo $store['store_id']; ?>" checked="checked" />
					<?php echo $store['name']; ?>
					<?php } else { ?>
					<input type="checkbox" name="testimonial_store[]" value="<?php echo $store['store_id']; ?>" />
					<?php echo $store['name']; ?>
					<?php } ?>
				  </label>
				</div>
				<?php } ?>
			  </div>
			</div>
		  </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('.date').datetimepicker({

});
//--></script>
</div>
<?php echo $footer; ?>