<div class="field">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_80 | sanitize}}"></i>{{::locale.width_big}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:number model="tools.advanced_min_width" min="0" label="{{::locale.min}}" step="10"></kw:number>
			<kw:number model="tools.advanced_max_width" min="0" label="{{::locale.max}}" step="10"></kw:number>
			<span class="right-label" ng:bind="::locale.px"></span>
		</div>
	</div>
</div>

<div class="field inter">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_81 | sanitize}}"></i>{{::locale.height_big}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:number model="tools.advanced_min_height" min="0" label="{{::locale.min}}" step="10"></kw:number>
			<kw:number model="tools.advanced_max_height" min="0" label="{{::locale.max}}" step="10"></kw:number>
			<span class="right-label" ng:bind="::locale.px"></span>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_82 | sanitize}}"></i>{{::locale.bg}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_bg" default-value="rgba(252,252,252,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_84 | sanitize}}"></i>{{::locale.title}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_left_title" default-value="rgba(76,76,76,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field none-pt">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span></span>
		</span>

		<div class="field-cell field-right">
			<div class="languages" ng:repeat="language in languages">
				<input type="text" ng:model="tools.advanced_left_title_text[language.language_id]" maxlength="45" placeholder="{{::locale.noti_title_1}}"/>
				<img class="lang-img" ng:src="view/image/flags/{{language.image}}" title="{{lang.name}}" alt/>
			</div>
		</div>
	</div>
</div>

<div class="field inter">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_85 | sanitize}}"></i>{{::locale.close_ico}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color top-label="{{::locale.default}}" model="tools.advanced_cross" default-value="rgba(163,163,163,1)"></kw:color>
			<span class="slash-separator">/</span>
			<kw:color top-label="{{::locale.hover}}" model="tools.advanced_cross_hover" default-value="rgba(186,185,185,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field shadow numset top-label">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_86 | sanitize}}"></i>{{::locale.shadow_big}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}"
			             model="tools.advanced_shadow_on" default-value="true"></kw:switcher><br />

			<div class="if-hide" ng:if="tools.advanced_shadow_on">
				<kw:color top-label="{{::locale.color}}" model="tools.advanced_shadowcolor" default-value="rgba(255,255,255,1)"></kw:color>
				<kw:number model="tools.advanced_shadowx" min="-9999" label="{{::locale.x}}"></kw:number>
				<kw:number model="tools.advanced_shadowy" min="-9999" label="{{::locale.y}}"></kw:number>
				<kw:number model="tools.advanced_shadowblur" min="0" label="{{::locale.blur}}"></kw:number>
				<span class="right-label" ng:bind="::locale.px"></span>
			</div>
		</div>
	</div>
</div>

<div class="field inter radius numset top-label">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_87 | sanitize}}"></i>{{::locale.radius}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.advanced_radius" default-value="true"></kw:switcher><br />

			<div class="if-hide" ng:if="tools.advanced_radius">
				<kw:number model="tools.advanced_radiust" min="0" label="{{::locale.top_left}}"></kw:number>
				<kw:number model="tools.advanced_radiusr" min="0" label="{{::locale.top_right}}"></kw:number>
				<kw:number model="tools.advanced_radiusb" min="0" label="{{::locale.btm_right}}"></kw:number>
				<kw:number model="tools.advanced_radiusl" min="0" label="{{::locale.btm_left}}"></kw:number>

				<span class="drop-switcher" outside-click="dropSwitch['advanced_radiusval'] = false;">
					<span class="drop-switcher-label" ng:click="dropSwitch['advanced_radiusval'] = true;">{{ tools.advanced_radiusval }}</span>
					<span class="drop-switcher-area if-hide" ng:if="dropSwitch['advanced_radiusval']">
						<label ng:class="{ 'active': tools.advanced_radiusval === 'px' }">
							<input type="radio" ng:model="tools.advanced_radiusval" value="px" ng:change="dropSwitch['advanced_radiusval'] = false;" />{{::locale.px}}
						</label>
						<label ng:class="{ 'active': tools.advanced_radiusval === '%' }">
							<input type="radio" ng:model="tools.advanced_radiusval" value="%" ng:change="dropSwitch['advanced_radiusval'] = false;" />{{::locale.percent}}
						</label>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field color-switch">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_88 | sanitize}}"></i>{{::locale.overlay}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.advanced_bg_on" default-value="true"></kw:switcher>
			<kw:color model="tools.advanced_overlay_bg" class="if-hide" default-value="rgba(0,0,0,0.6)" ng:if="tools.advanced_bg_on"></kw:color>
		</div>
	</div>
</div>

<div class="field inter ci-field top-label">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_89 | sanitize}}"></i>{{::locale.overlay_img}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.advanced_image_on" default-value="true"></kw:switcher>
			<kw:custom-image ng:if="tools.advanced_image_on" class="if-hide"
         label="{{::locale.overlay_img}}"
         model="tools.advanced_overlay_image"
         button-manager="{{::locale.select}}"
         button-upload="{{::locale.upload}}"
         button-save="{{::locale.save_select}}"
         button-cancel="{{::locale.cancel_sel}}"
         button-zoom="{{::locale.zoom_sel}}"
         button-delete="{{::locale.delete_sel}}"
         button-close="{{::locale.close_sel}}"
         directory="../kw_application/flycart/images/bg/"
         repeat="repeat"
         position="0 0"
         default-img="{ src: 'burlap.png', width: 96, height: 96 }"
         module="kw_flycart"
         token="{{token}}"
         readonly="true">
			</kw:custom-image>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field inter checkbox-list top-label">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_90 | sanitize}}"></i>{{::locale.content}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:checkbox label="{{::locale.p_image}}" model="tools.advanced_image" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.p_name}}" model="tools.advanced_name" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.opt_min}}" model="tools.advanced_options" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.p_price}}" model="tools.advanced_price" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.brand}}" model="tools.advanced_brand" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.model}}" model="tools.advanced_model" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.sku}}" model="tools.advanced_sku" default-value="true"></kw:checkbox>
			<kw:checkbox label="{{::locale.p_stock}}" model="tools.advanced_stock" default-value="false"></kw:checkbox>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field numset if-hide" ng:if="tools.advanced_image">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_91 | sanitize}}"></i>{{::locale.prod_img}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:number label="{{::locale.width_min}}" model="tools.advanced_image_width" min="0"></kw:number>
			<kw:number label="{{::locale.height_min}}" model="tools.advanced_image_height" min="0"></kw:number>
			<span class="right-label" ng:bind="::locale.px"></span>
		</div>
	</div>
</div>

<div class="field if-hide" ng:if="tools.advanced_name">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_92 | sanitize}}"></i>{{::locale.name}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color top-label="{{::locale.default}}" model="tools.advanced_link_color" default-value="rgba(56,176,227,1)"></kw:color>
			<span class="slash-separator">/</span>
			<kw:color top-label="{{::locale.hover}}" model="tools.advanced_link_hover_color" default-value="rgba(56,176,227,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field if-hide" ng:if="tools.advanced_options">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_93 | sanitize}}"></i>{{::locale.options}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_options_color" default-value="rgba(56,176,227,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field colors if-hide" ng:if="tools.advanced_price">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_94 | sanitize}}"></i>{{::locale.price}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color top-label="{{::locale.default}}" model="tools.advanced_price_color" default-value="rgba(56,176,227,1)"></kw:color>
			<kw:color top-label="{{::locale.old}}" model="tools.advanced_price_old_color" default-value="rgba(56,176,227,1)"></kw:color>
			<kw:color top-label="{{::locale.special}}" model="tools.advanced_price_special_color" default-value="rgba(56,176,227,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field inter if-hide" ng:if="tools.advanced_brand || tools.advanced_model || tools.advanced_sku">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_95 | sanitize}}"></i>{{::locale.params}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_params" default-value="rgba(56,176,227,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field_separator" ng:if="tools.advanced_stock"></div>

<div class="field stock-field top-label" ng:if="tools.advanced_stock">
	<div class="field-row">
				<span class="label field-cell field-left">
					<span>
						<i class="tooltip help" kw:tooltips data-text="{{::locale.help_132 | sanitize}}"></i>{{::locale.stock_statuses}}
					</span>
				</span>

		<div class="field-cell field-right">
			<table>
				<tr>
					<td ng:bind-html="::locale.stock_default" ng:style="{'color': tools.advanced_stock_color['default']}"></td>
					<td><kw:color class="if-hide" model="tools.advanced_stock_color['default']" default-value="rgba(0,0,0,1)"></kw:color></td>
				</tr>
				<tr ng:repeat="status in stock_statuses">
					<td ng:bind-html="::status.name" ng:style="{'color': tools.advanced_stock_color[status.stock_status_id]}"></td>
					<td><kw:color class="if-hide" model="tools.advanced_stock_color[status.stock_status_id]" default-value="rgba(0,0,0,1)"></kw:color></td>
				</tr>
			</table>

		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_96 | sanitize}}"></i>{{::locale.total_block}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.advanced_right" default-value="true"></kw:switcher>
		</div>
	</div>
</div>

<div class="field if-hide checkbox-list" ng:if="tools.advanced_right">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_129 | sanitize}}"></i>{{::locale.advanced_right_tc}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:checkbox label="{{::locale.quant_all}}" model="tools.advanced_right_items" default-value="true"></kw:checkbox><br />
			<kw:checkbox label="{{::locale.quant_names}}" model="tools.advanced_right_names" default-value="false"></kw:checkbox>
		</div>
	</div>
</div>

<div class="field if-hide" ng:if="tools.advanced_right">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_97 | sanitize}}"></i>{{::locale.bg}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_right_bg" default-value="rgba(252,252,252,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field if-hide" ng:if="tools.advanced_right">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_98 | sanitize}}"></i>{{::locale.text}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_right_text_color" default-value="rgba(76,76,76,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field if-hide" ng:if="tools.advanced_right">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_99 | sanitize}}"></i>{{::locale.title}}
			</span>
		</span>

		<div class="field-cell field-right">
			<kw:color model="tools.advanced_right_title" default-value="rgba(76,76,76,1)"></kw:color>
		</div>
	</div>
</div>

<div class="field none-pt" ng:if="tools.advanced_right">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span></span>
		</span>

		<div class="field-cell field-right">
			<div class="languages" ng:repeat="language in languages">
				<input type="text" ng:model="tools.advanced_right_title_text[language.language_id]" maxlength="45" placeholder="{{::locale.noti_title_2}}"/>
				<img class="lang-img" ng:src="view/image/flags/{{language.image}}" title="{{lang.name}}" alt/>
			</div>
		</div>
	</div>
</div>

<div class="field_separator"></div>

<div class="field buttons-field" outside-click="buttonsTools['viewcart_advanced_btn'] = false;">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_101 | sanitize}}"></i> <span ng:bind-html="::locale.btn_check_title | sanitize"></span>
			</span>
		</span>

		<div class="field-cell field-right">
			<span class="preview-button viewcart_advanced_btn" ng:click="buttonAction(tools.viewcart_advanced_btn, 'viewcart_advanced_btn');"
			      ng:class="{ 'button-disabled': !tools.viewcart_advanced_btn }" ng:bind="tools.advanced_viewcart_btn[lang_id] || locale.btn_checkout"></span>

			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.viewcart_advanced_btn" default-value="true"></kw:switcher>

			<div class="if-hide" ng:if="tools.viewcart_advanced_btn">
				<style>
					.viewcart_advanced_btn {background: {{ tools.viewcart_advanced_btn_bg }};color: {{ tools.viewcart_advanced_btn_text }};}
					.viewcart_advanced_btn:hover {background: {{ tools.viewcart_advanced_btn_bg_hover }};color: {{ tools.viewcart_advanced_btn_text_hover }};}
				</style>

				<div class="buttons-tools button-popover" ng:if="buttonsTools['viewcart_advanced_btn']">
					<div class="button-popover-row">
						<kw:color model="tools.viewcart_advanced_btn_bg" default-value="rgba(167,167,167,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_bg"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.viewcart_advanced_btn_bg_hover" default-value="rgba(131,131,131,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_bg_hov"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.viewcart_advanced_btn_text" default-value="rgba(255,255,255,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_txt"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.viewcart_advanced_btn_text_hover" default-value="rgba(255,255,255,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_txt_hov"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row-button">
						<button type="button" class="kw-btn preset-button preset-ok" ng:click="buttonsTools['viewcart_advanced_btn'] = false;" ng:bind="::locale.btn_ready"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="field buttons-field" outside-click="buttonsTools['continue_advanced_btn'] = false;">
	<div class="field-row">
		<span class="label field-cell field-left">
			<span>
				<i class="tooltip help" kw:tooltips data-text="{{::locale.help_102 | sanitize}}"></i> <span ng:bind-html="::locale.btn_cont_title | sanitize"></span>
			</span>
		</span>

		<div class="field-cell field-right">
			<span class="preview-button continue_advanced_btn" ng:click="buttonAction(tools.continue_advanced_btn, 'continue_advanced_btn');"
			      ng:class="{ 'button-disabled': !tools.continue_advanced_btn }" ng:bind="tools.advanced_continue_btn[lang_id] || locale.btn_continue"></span>

			<kw:switcher on="{{::locale.text_enabled}}" off="{{::locale.text_disabled}}" model="tools.continue_advanced_btn" default-value="true"></kw:switcher>

			<div class="if-hide" ng:if="tools.continue_advanced_btn">
				<style>
					.continue_advanced_btn {background: {{ tools.continue_advanced_btn_bg }};color: {{ tools.continue_advanced_btn_text }};}
					.continue_advanced_btn:hover {background: {{ tools.continue_advanced_btn_bg_hover }};color: {{ tools.continue_advanced_btn_text_hover }};}
				</style>

				<div class="buttons-tools button-popover" ng:if="buttonsTools['continue_advanced_btn']">
					<div class="button-popover-row">
						<kw:color model="tools.continue_advanced_btn_bg" default-value="rgba(167,167,167,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_bg"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.continue_advanced_btn_bg_hover" default-value="rgba(131,131,131,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_bg_hov"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.continue_advanced_btn_text" default-value="rgba(255,255,255,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_txt"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row">
						<kw:color model="tools.continue_advanced_btn_text_hover" default-value="rgba(255,255,255,1)"></kw:color>
						<span class="row-label" ng:bind="::locale.btn_txt_hov"></span>
						<div class="clearfix"></div>
					</div>
					<div class="button-popover-row-button">
						<button type="button" class="kw-btn preset-button preset-ok" ng:click="buttonsTools['continue_advanced_btn'] = false;" ng:bind="::locale.btn_ready"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>