@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic');

h2.advantages {
	font-size: 22px;
	margin: 0px;
	padding: 10px 0;
	text-align: center;
}
.advantages-block {
	padding: 15px;margin: 0 auto;
	overflow: hidden;
}
.advantages-block > div {
	padding-left: 10px;
	padding-right: 10px;
}
.advantage {
	border: none;
	padding: 15px 0px;
	overflow: hidden;
}
.pos-center {
	text-align: center;
}
.pos-center .image {
	margin-bottom: 10px;
}
.advantage_link, .advantage_link:active, .advantage_link:hover, .advantage_link:focus {
	text-decoration: none;
	outline: none;
}
.advantage h4 {
	color: #68777D;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	margin-top: 5px;
}
.advantage .image-left {
	display: table-cell;
	padding: 6px 15px 0px 0px;
}
.advantage p {
	line-height: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	color: #424242;
	margin: 0px 0px 12px;
}
.advantage .caption { 
	min-height: 0 !important;
	padding: 0 !important;
}
.advantage .caption-right { 
	display: table-cell;
	vertical-align: top;
}
.advantage .readmore a { 
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #7E7E7E;
	font-size: 11px;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	width: 50%;
}
.advantage .readmore a:hover { 
	background: #5F98B0;
	border: 1px solid #5F98B0;
	color: #FFFFFF;
}

@media (max-width: 1100px) {
	.advantages-block {
		background-size: cover;
	}
}
.advantages-block img{cursor: pointer;
    transition: all 0.2s;}
.advantages-block img:hover{opacity: 0.8; filter: invert(100%);cursor: pointer; 
    transition: all 0.2s;}