.ne-bootstrap .checkbox-inline ,
.radio-btn{position:relative;padding-left:20px}

.ne-bootstrap .checkbox-inline  input[type="checkbox"],
.checkbox-btn input[type="radio"],
.radio-btn input[type="checkbox"],
.radio-btn input[type="radio"]{position:absolute;opacity:0;z-index:1}

.ne-bootstrap .checkbox-inline label,.radio-btn label{display:inline-block;line-height:24px;
	vertical-align:middle;position:relative;padding-left:20px;cursor:pointer;
	user-select:none;color:#424242}

.ne-bootstrap .checkbox-inline label::after,
	.radio-btn label::after{position:absolute;content:"";width:18px;height:18px;
	left:0;top:0;margin-left:-18px;background-color:white;border:3px solid #424242;
	-webkit-border-radius:3px;border-radius:3px;background-clip:padding-box;cursor:pointer}

.ne-bootstrap .checkbox-inline label::before,
	.radio-btn label::before{position:absolute;content:"";width:10px;height:5px;
	top:6px;left:6px;margin-left:-18px;border:3px solid #000;border-top:none;
	border-right:none;background:transparent;-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);transform:rotate(-45deg);
	opacity:0;-webkit-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;z-index:1}

.ne-bootstrap .checkbox-inline label:active::before,
	.radio-btn label:active::before{opacity:0.3}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:checked+label,
	.checkbox-btn input[type="radio"]:checked+label,
	.radio-btn input[type="checkbox"]:checked+label,
	.radio-btn input[type="radio"]:checked+label{color:#000}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:checked+label::after,
	.checkbox-btn input[type="radio"]:checked+label::after,
	.radio-btn input[type="checkbox"]:checked+label::after,
	.radio-btn input[type="radio"]:checked+label::after{border:3px solid #000}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:checked+label::before,
	.checkbox-btn input[type="radio"]:checked+label::before,
	.radio-btn input[type="checkbox"]:checked+label::before,
	.radio-btn input[type="radio"]:checked+label::before{opacity:1}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:disabled+label,
	.checkbox-btn input[type="radio"]:disabled+label,
	.radio-btn input[type="checkbox"]:disabled+label,
	.radio-btn input[type="radio"]:disabled+label{color:#787878;cursor:default}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:disabled+label::after,
	.checkbox-btn input[type="radio"]:disabled+label::after,
	.radio-btn input[type="checkbox"]:disabled+label::after,
	.radio-btn input[type="radio"]:disabled+label::after{border:3px solid #787878;background-color:#ffffff}

.ne-bootstrap .checkbox-inline input[type="checkbox"]:disabled+label::before,
	.checkbox-btn input[type="radio"]:disabled+label::before,
	.radio-btn input[type="checkbox"]:disabled+label::before,
	.radio-btn input[type="radio"]:disabled+label::before{display:none}

	.radio-btn label::after{-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box}

	.radio-btn label::before{width:12px;height:12px;border:none;top:6px;left:6px;
		-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box;
		background-color:#000000;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
/*# sourceMappingURL=checkbox.css.map */
