@font-face {
  font-family: 'Lato-Regular';
  src: url(../font/latoregular.woff2);
  src: url(../font/latoregular.woff);
  src: url(../font/latoregular.ttf); }

@font-face {
  font-family: 'Lato-Black';
  src: url(../font/latoblack.woff2);
  src: url(../font/latoblack.woff);
  src: url(../font/latoblack.ttf); }

@font-face {
  font-family: 'Arial-Regular';
  src: url(../font/Arial.ttf); }

@font-face {
  font-family: 'Arial-Bold';
  src: url(../font/arial_bold.ttf); }
body {
	font-family: 'Lato-Regular';
	font-weight: 400;
	color: #1b1b1b;
	font-size: 14px;
	line-height: 20px;
	width: 100%; 
}
h1, h2, h3, h4, h5, h6 {
	color: #1b1b1b;
}
p{
	font-size: 16px;}
/* default font size */
.fa {
	font-size: 17px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 36px; 
} 
h2 { 
	font-size: 36px; 
}
#content h2 {
}
@media (max-width: 600px) {
h2 { 
	font-size: 30px; 
}}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #1f1f1f;
	
}
a:hover {
	text-decoration: none;
	color: #1f1f1f;
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
    background-color: #fff;
    background-image: none;
    color: rgb(0, 0, 0);
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
:focus {
    outline: none !important;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.row{margin-left: 0px;margin-right: 0px;}
.red{
	color: red;
}
#horizontal-menu .nav > li > a {
  color: #1f1f1f;
   padding: 10px 15px;}
#horizontal-menu .nav > li > a[href="/index.php?route=product/special"] {
	color: red;
}
.mainmenu{
	padding: 0;
	margin: 0;
	border-top: 1px #dcdcdc solid;
	border-bottom: 1px #dcdcdc solid;
}
.nav-row{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
flex-wrap: wrap;
    justify-content: space-between;}
@media only screen and (max-width: 767px) {
.nav-row{
	flex-direction: column; justify-content: space-around;}}
.nav-btn{
    background: transparent;
    color: #1f1f1f;
    padding: 0px!important;
    border-width: 0px!important;
    text-transform: uppercase;
    font-size: 12px;
    border-color: transparent;
    border-style: solid;
    font-family: 'Lato-Regular'!important;
    letter-spacing: 0px!important;
    margin: 0 auto;  
    display: block;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.2),
     0 0px 0px rgba(0,0,0,.05)!important;}
 .acc-block{
 	margin: 0px 20px;
 }
.nav-tabs {
	margin-bottom: 15px;
}
.navbar-collapse.in ul{padding-left: 40px;}
.navbar-collapse.in ul li.dropdown{text-align: left;}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #1f1f1f;
	background-image:  #1f1f1f;
	background-repeat: repeat-x;
}
.dropdown-menu{border-radius: 0px !important;}
/* top */
#top {
	background-color: #1b1b1b; 
	padding: 4px 0px 3px 0;
	margin: 0 0 0px 0; 
	color: #ffffff;
}
#top .container{
	margin: 6px auto;
}
#top ul{
	margin: 0;
	padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
#top ul{
	font-size: 12px;
	}}
#top ul li{
	list-style-type: none;
	text-transform: uppercase;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #1f1f1f;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #1b1b1b;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
.logo span{
    letter-spacing: 3px;}
#logo {
	margin: 0 0 10px 0;
}

#logo p {
	margin: 0 0 0px 0;
  font-family: 'Arial-Bold';

	 text-transform: uppercase;
	 font-size: 21px;
	 display: block;
}
#logo p span {
	margin: 0 0 0px 0;  font-family: 'Arial-Regular'; 
	 text-transform: uppercase;
	 font-size: 11px;
	 letter-spacing: 5px;
	 display: block;
}
/* search */
#search {
	margin-bottom: 10px;
}
@media only screen and (max-width: 991px) { 
.serch.serch-block{
	position: relative!important;
	margin: 0 auto;
	}}
.serch .form-control{
	border:0;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	text-shadow: 0 0px 0 #FFF;	
	box-shadow: none;
	background-color: transparent;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 0px 10px 35px;
	text-shadow: 0 0px 0 #FFF;
	background-color: transparent;
	background: transparent;
	border: 0;
	box-shadow: none;
	color: #1f1f1f;
}
/* cart */
#cart {
    margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
#cart {
    margin-bottom: 0px; 
}}
#cart img {	
    width: 23px;
    height: 18px;
}
#cart .count {
    color: #660000;
    position: absolute;
    margin: -5px 0px 0px -11px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px;
    height: 18px;
    width: 18px;
    background: #1f1f1f;

}
#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: none;
    font-family: 'Lato-Regular';
    color: #1f1f1f;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0px 0 rgba(255,255,255,.2), 0 0px 0px rgba(0,0,0,.05);
}
#cart button.btn.btn-inverse {
    background: none;
    border: 0px;
    padding: 5px;
}
#cart.open > .btn {
    background-image: none;
    background-color: none;
    border: 0px;
    color: #1f1f1f;
    box-shadow: none;
    text-shadow: none;
}
#cart.open > .btn:hover {
    color: #1f1f1f;
} 
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
header{}
header .container{padding: 25px 0px!important;}
/* menu */
#menu {
	background-color: transparent;
	background-image: #1b1b1b;
	background-repeat: repeat-x;
	border-color: transparent;
    min-height: 100%;
    margin-bottom: 0;
}
#menu .nav > li > a {
	color: #1f1f1f;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
	font-size: 14px;
	text-transform: uppercase;
}

#menu .nav > li > a:first-child{
	padding-left: 0px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: transparent;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #1f1f1f;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #1b1b1b;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #1b1b1b; 
	background-repeat: repeat-x;
	border-color: #1b1b1b #1b1b1b #1b1b1b;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #1f1f1f;
}
.navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
#content input[type='text']
#content input[type='tel'],
#content input[type='textarea'],
#content input[type='mail'] {
    border: 1px solid #CCC;
    padding: 0 10px;
}
#content .nbs-flexisel-inner{box-shadow: 0 1px 4px rgba(0,0,0,.0);}
#content .nbs-flexisel-nav-left{left: 0;}
#content .nbs-flexisel-nav-right{right: 0;}
#content label.control-label{margin-bottom: 0px;    display: none !important;}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #1b1b1b;
	border-top: 1px solid #ddd;
	color: #828282;
}
footer .container{
	padding: 75px 0px !important;
}
@media only screen and (max-width: 767px) {
footer .container{
	padding: 20px !important;
}}
footer #logo a img{
    filter: brightness(5);
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer p,
footer p.icos {
	color: #828282;
	font-size: 16px;
    line-height: 24px;
}
footer a {
	color: #828282;
	font-size: 16px;
    line-height: 24px;
}
footer a:hover {
	color: #eee;
}
footer h5 {
	font-family: 'Lato-Black';
	font-size: 16px;
	color: #828282;
	margin-top: 0px;
}
@media (max-width: 600px) {
footer .col-xs-12{margin-left: 40px;}
footer .icos{margin-top: 20px;}
footer .ico{text-align: center;}}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 20px 0 20px 0;
	padding: 8px 0;
	border: 0px solid #ddd;
  background-color: transparent;
}
.breadcrumb a{color: #b3b3b3;}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li:first-child {
	padding-left: 0px;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
  top: 6px;
  right: -5px;
  width: 10px;
  height: 10px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 16px;
	border: 1px solid #1f1f1f;
	border-radius: 0px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #1f1f1f;
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
	background: #fff; 
	background-repeat: repeat-x;
	border-color: #1f1f1f;
	padding: 10px 30px;
}
.btn-default:hover, .btn-default:active, .btn-default.active, .btn-default.disabled, .btn-default[disabled] {
	background:#1b1b1b;
	color:  #fff; 
	border: 2px solid #1b1b1b;
}
.btn-default.focus, .btn-default:focus {
	color:  #1f1f1f;
    background:#fff;
    border-color: #122b40;
}
.btn-primary {
	    color: #1f1f1f;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    background-repeat: repeat-x;
    border-color: #1f1f1f;
    text-transform: uppercase;
    border: 1px solid #1f1f1f;
    padding: 10px 30px;
    width: 360px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color:#1b1b1b;
	color:  #fff; 
    border-color: #1b1b1b;
}
.btn-primary.focus, .btn-primary:focus {
	color:  #1f1f1f;
    background-color:#fff;
    border-color: #122b40;
}
.btn-primary i{margin-right: 5px;}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
	background: #fe0032; 
	background-repeat: repeat-x;
	border-color: #fe0032;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.1);
	color: #fe0032 ;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
	background: #ffffff; 
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #fe0032;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
	background: #fff; 
	background-repeat: repeat-x;
	border-color: #fe0032;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info:focus,  .btn-info.active:focus, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background: #fe0032;
	color: #fff;
	border-color: #fe0032;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #1b1b1b444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
    border: 1px solid #fff!important;
	color: #1f1f1f;
	padding: 8px 12px;
}
#column-left .list-group a {
    border: 1px solid #fff;
	color: #1f1f1f;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: red;
	background: #fff;
    border: 1px solid #fff!important;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 0px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 110px;
	text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .opts-hov {opacity: 0;
    position: absolute;
    bottom: 50%;
    background: #fff;
    width: 210px;
    right: -40px;
    border: 1px #f1f1f1 solid;
    padding: 10px;
    transition: 0.2s;}
.product-thumb:hover .opts-hov {opacity: 1;}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.old-price{
	color: #b1b1b1;
}
.price-block{font-size: 16px;
    display: flex;
    flex-wrap: wrap;}
.price-block li{
    font-size: 16px; }
.price-block li h2.red{
    font-size: 16px;
    margin: 0px 10px;}
.product-thumb .price {
	color: #1b1b1b;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 0px solid #1d1d1d;
	background-color: transparent;
	overflow: auto;
	text-align: center;
}
.product-list .product-thumb .button-group {
	border-left: 0px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {  
	border: 1px solid #1d1d1d;
	display: inline-block; 
	background-color: #fff;
	color: #1d1d1d; 
	font-size: 14px;
	text-align: center;
	text-transform: uppercase; 
  margin: 0 auto; 
  padding: 5px 10px;
    letter-spacing: 3px;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 0px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #fff;
	background-color: #1b1b1b;
	text-decoration: none;
	cursor: pointer;
}
 .product-thumb .button-group button .fa {font-size: 0px; display: none;}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button { 
	}
 .product-thumb .button-group button .fa {font-size: 14px; display: inline-block;
  font-family: 'Lato-Regular';}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 0px;
} 
.thumbnails > li {
	float: right;
	width: 80%;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 0px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
.thumbnails li.image-additional:nth-child(1) {
	float: left;
	margin-left: 20px;
	margin-top: 0px;
}
.thumbnail{
	border: 0px solid #ddd;}
@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
/*#column-left,
 #column-right,
 #content{margin-top: 30px;}*/
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */ 

.product-thumb .button-group button + button
{
display:none;
}
.product-thumb .button-group button
{ 
    padding: 7px 10px 5px;
}
.product-thumb .button-group button i:before
{ content:"КУПИТЬ";}
.serch{
	width: 150px;
    position: absolute;
    right: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left: 0px;padding-right: 0px;}
.common-home h2{margin-bottom: 80px;}
.common-home .latestmore {padding: 80px 0px 105px;}
.common-home .container-fluid, .common-home .container{padding: 0;}
@media only screen and (max-width: 767px) {.info-block-main{padding: 0px 20px!important;}}
.common-home .row{padding: 0;margin: 0;}
/*Главаня банер*/
#owl-head{margin: 0;}
#owl-head .owl-wrapper-outer{
  border: 0;
border-radius: 0px;}
.head-bg{
  background: url(../image/headers/head-pic-1.png) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  max-height: 550px;
  height: 100%;
  min-height: 350px;
}
.head-bg .info-col{
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;  }
@media only screen and (max-width: 767px) {
.head-bg .info-col{
align-items: center;}
.head-bg h2.big{font-size: 66px; color: #fff;     margin-bottom: 6vw; }}
.head-bg .container{ padding: 50px 0px;}
.head-bg .headcont{margin: 30px 0px;}
.head-bg h2.big{font-size: 66px; color: #fff;     margin-bottom: 6vw; }
.head-bg h2 span{color: #fe0032;
  font-family: 'Lato-Black';
}
@media only screen and (max-width: 767px) {
.head-bg .info-col{
align-items: center;}
.head-bg h2.big{font-size: 34px; color: #fff;     margin-bottom: 6vw; }}
.head-bg p{ 
  font-size: 24px; 
  text-align: center; 
  color: #fff; }
.head-buttons{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap:wrap;}
@media only screen and (max-width: 767px) {
.head-buttons{
justify-content: space-between; 
align-items: center;}
.head-buttons a{
    margin: 20px auto;}}
.head-bg .head-buttons button.btn-primary{
    color: #fff;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    background-color: #1f1f1f;
    background-repeat: repeat-x;
    border-color: #1f1f1f;
    text-transform: uppercase;
    border: 2px solid #1f1f1f;}
.head-bg .head-buttons button.btn-danger{
    color: #ffffff;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    background: #fe0032;
    background-repeat: repeat-x;
    border-color: #fe0032;}
.head-bg .head-buttons button{   
  padding: 15px 45px;  
  border-width: 2px;  
  margin: 0px 20px;
  font-size: 14px;  
  border-style: solid;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.head-bg button i{color: #fff;}
.head-bg button i.fa-chevron-right:before{margin-top: 6px;
margin-left: 15px;color: #fff;}
.headers-3 .hb3-1{padding-right: 10px; padding-left: 0px;
    margin: 10px 0px;}
.headers-3 .hb3-1 .inf{position: absolute; top: 3vw;right: 30px;z-index: 55;}
.headers-3 .hb3-1 .anim-fade{ z-index: 35;position: relative;}
.headers-3 .hb3-2{padding-left: 10px; padding-right: 0px;z-index: 55;}
.headers-1,
.headers-2,
.headers-3 {
  padding: 0;margin: 0;}
.headers-2 .head-part-1{padding-right: 10px; padding-left: 0px;}
.headers-2 .head-part-2{padding-left: 10px; padding-right: 0px;}
.headers-2 .head-part-1 .col-md-12,
.headers-2 .head-part-2 .col-md-12{padding: 0;}
.headers-2 .head-part-1 .h-pic-1{
  background: url(../image/headers/head-part-1.png) right center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
    min-height: 28.5vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
text-align: right;
padding: 30px; 
margin: 10px 0px; }
.headers-2 .head-part-1 .h-pic-2{
  background: url(../image/headers/head-part-2.png) right center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 61vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between; 
text-align: right; 
padding: 30px;
margin: 10px 0px; }
@media only screen and (max-width: 767px) {
	.headers-2 .head-part-1 .h-pic-2 {
    background: url(../image/headers/head-part-2.png) right -107px top no-repeat;
    min-height: 625px;}}
.headers-2 .head-part-2 .h-pic-1{
  background: url(../image/headers/head-part-3.png) left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 61vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between; 
text-align: left;
padding: 30px; 
margin: 10px 0px;}
@media only screen and (max-width: 767px) {
	.headers-2 .head-part-2 .h-pic-1 {
    background: url(../image/headers/head-part-3.png) -130px center no-repeat;
    min-height: 625px;}}
.headers-2 .head-part-2 .h-pic-2{
  background: url(../image/headers/head-part-4.png) left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
    min-height: 28.5vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between; 
text-align: left;
padding: 30px; 
color: #fff;
margin: 10px 0px;} 
@media only screen and (max-width: 767px) {
	.headers-2 .head-part-2 .h-pic-2 {
    background: url(../image/headers/head-part-4.png) -200px center no-repeat;}}
.headers-2 .head-part-2 .h-pic-2 .inf h3{  
  color: #fff; }
.headers-2 .head-part-2 .h-pic-2 .inf button{ 
  background: transparent; 
  color: #fff;
  border-color: #fff; }
.headers-2 .head-part-2 .h-pic-2 .inf button i:before{margin-top: 6px;
  color: #fff;
margin-left: 15px;}
.common-home .inf{
    min-height: 14.5vw;
    height: 100%;		
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column; 
justify-content: space-between; 
    margin-top: 3vw; }
.common-home .inf h3{ 
  background: transparent; 
  color: #1f1f1f;  
  text-transform: uppercase;
  font-size: 36px; }
.common-home  h3{ 
  background: transparent; 
  color: #1f1f1f;  
  text-transform: uppercase;
  font-size: 36px; }                 
.common-home  h2{ 
text-align: center;
  background: transparent; 
  color: #1f1f1f;  
  text-transform: uppercase;
  font-size: 36px;}
@media only screen and (max-width: 767px) {.common-home .inf h3, .common-home  h3, .common-home  h2{font-size: 30px;}}
.common-home  .ne-bootstrap{border-top: 1px #1f1f1f solid;}
.ne-bootstrap .col-md-6{padding-left: 0px;padding-right: 0px;}
.common-home button{ 
  background: transparent;
  color: #1f1f1f;
  padding: 15px 30px;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 14px;
  border-color: #1f1f1f;
  border-style: solid;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
@media only screen and (max-width: 767px) {
.common-home button{
  padding: 15px;}}
.ne-bootstrap .btn-ne{text-align: right;}
.ne-bootstrap .btn{ 
  background: transparent!important;
  color: #1f1f1f!important;
  padding: 15px 30px!important;
  border-width: 2px!important;
  text-transform: uppercase;
  font-size: 14px;
  border-color: #1f1f1f!important;
  border-style: solid!important;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.ne-send{width: 290px!important;
  height: 50px!important;}
@media only screen and (max-width: 992px) {
.ne-send{width: 100%!important;}}
.common-home button i:before,
.ne-bootstrap .btn i:before{margin-top: 6px;
  color: #1f1f1f;
margin-left: 15px;}
.ne-bootstrap .modal-content{background-color: transparent!important;}
.ne-bootstrap .form-control{
  background: transparent!important;
  color: #1f1f1f!important;
  padding: 15px 30px!important;
  border-width: 2px!important;
  text-transform: uppercase;
  height: 50px!important;
  font-size: 14px;
  border-color: #1f1f1f!important;
  border-style: solid!important;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.ne-bootstrap .form-control:placeholder{
  color: #1f1f1f!important;}
.ne-bootstrap .fild{padding-left: 0px;}
.headers-3 .head-img-1{
  background: url(../image/headers/head-img-1.png) right center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 28vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
text-align: right;
padding: 30px;
margin: 10px 0px;  }
.headers-3 .head-img-2{
  background: url(../image/headers/head-img-2.png) left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 28vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
text-align: left;
padding: 30px;
margin: 10px 0px; }
.headers-3 .head-img-2 .inf h3{ 
  background: transparent; 
  color: #fff;  
  text-transform: uppercase;
  font-size: 36px; }
@media only screen and (max-width: 767px) {
.headers-3 .head-img-1{
    min-height: 292px;}
.headers-3 .head-img-2 .inf h3{ font-size: 30px;}}
.headers-3 .head-img-2 .inf button{ 
  background: transparent; 
  color: #fff; 
  padding: 15px 30px;  
  border-width: 2px;  
  font-size: 14px;
  border-color: #fff;
  border-style: solid;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.headers-3 .head-img-2 .inf button i:before{margin-top: 6px;
  color: #fff;
margin-left: 15px;}
.menu-fixed{

    border-bottom: 1px #ccc solid;
    border-top: 1px #ccc solid;
	margin-bottom: 10px;
}
#horizontal-menu{margin-bottom: 0px!important;}

.cat-head-1,
.cat-head-3 {padding-left: 0px;padding-right: 0px;}
.cat-head-2{padding-left: 10px;padding-right: 10px;}
@media only screen and (max-width: 767px) {
.cat-head-2{padding-left: 0px;padding-right: 0px;}}
.cat-head-1 h3 ,
.cat-head-2 h3 ,
.cat-head-3 h3 {
	color: #fff;
  background: transparent;  
  text-transform: uppercase;
  font-size: 36px; 
margin-top: 110px;}

.cat-head-1 .pic-bg,
.cat-head-2 .pic-bg,
.cat-head-3 .pic-bg{
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 28vw;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
text-align: right;
padding: 30px; 
margin: 10px 0px;}
.cat-head-1 .pic-bg{
  background: url(../image/headers/cat-man.png) right center no-repeat; 
  -webkit-background-size: cover;
  background-size: cover;}
.cat-head-2 .pic-bg{
  background: url(../image/headers/cat-woman.png) left center no-repeat;
  background-size: cover;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
text-align: left;  }
.cat-head-3 .pic-bg{
  background: url(../image/headers/cat-out-wear.png) left center no-repeat; 
  background-size: cover;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
text-align: left;  }
@media only screen and (max-width: 767px) {
.cat-head-2 .pic-bg{
    background: url(../image/headers/cat-woman.png) left 0px top no-repeat;
    background-size: cover;
}
.cat-head-1 .pic-bg{
  background: url(../image/headers/cat-man.png)  right 0px top no-repeat;
    background-size: cover;}
.cat-head-3 .pic-bg{
  background: url(../image/headers/cat-out-wear.png)  left 0px top no-repeat;
    background-size: cover; }}
.info-card .row{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
text-align: left;
min-height: 285px;
}
.info-card {
	background: #1d1d1d;
}
	
.info-card .container{padding: 85px 0px;}
@media only screen and (max-width: 767px) {
.info-card .container{padding: 25px 20px;}
.info-card .row button{padding: 10px;}}
.info-card .row h2{
	color: #fff;
  background: transparent;  
  text-transform: uppercase;
  font-size: 36px; 
margin-top: 30px;
margin-bottom: 35px;}
.info-card .row p{
	color: #fff; 
  font-size: 14px; }
.info-card .row button{ 
  background: transparent; 
  color: #fff; 
  padding: 15px 30px;  
  border-width: 2px;  
  font-size: 14px;
  text-transform: uppercase;
  border-color: #fff;
  border-style: solid;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.info-card .row button i:before{margin-top: 6px;
  color: #fff;
margin-left: 15px;}
.news-block {margin-bottom: 80px;color: #fff;}
.news-block .head-news-1{
  background: url(../image/headers/news-head-1.png) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 550px;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-end;
    justify-content: center;
text-align: right;
padding: 30px;
margin: 10px 10px 10px 0px;  }
.news-block .head-news-2{
  background: url(../image/headers/news-head-2.png) left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 550px;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: flex-start;
    justify-content: center;
text-align: left;
padding: 30px;
margin: 10px 0px 10px 10px; }
@media only screen and (max-width: 767px) {
	.news-block .head-news-2 {
    background: url(../image/headers/news-head-2.png) left -200px center no-repeat;}}
.news-block  .inf { 
	min-height: 350px;
  color: #fff;  
  font-size: 36px; 
    margin-top: 0px;}
.news-block  .inf h3{ 
  background: transparent; 
  color: #fff;  
  text-transform: uppercase;
  font-size: 36px; }
.news-block  .inf button{ 
  background: transparent; 
  color: #fff; 
  padding: 15px 30px;  
  border-width: 2px;  
  font-size: 14px;
  border-color: #fff;
  border-style: solid;
  font-family: 'Lato-Black';
  letter-spacing: 3px;}
.news-block  .inf button i:before{margin-top: 6px;
  color: #fff;
margin-left: 15px;}
.news-link{text-align: center;padding: 90px 0px 0px!important; font-size: 16px;}
.news-link h3{text-align: center; margin-bottom: 30px;}
.news-link a{padding: 0;margin: 0; text-transform: uppercase;}
.news-link ul{padding: 0;margin: 0;
  display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;}
.news-link ul li{padding: 0;    margin: 5px 15px;list-style-type: none;}
.news-link ul li a{padding: 0;margin: 0; text-transform: uppercase;}
.news-link ul li a:hover{color: red;}
.news-link  a:hover{color: red;}
.news-block .col-md-6 {padding: 0px;}
.info-block-main h3{margin-bottom: 35px;}
.checkbox-inline ,
.radio-btn{position:relative;padding-left:20px}

.checkbox-inline  input[type="checkbox"],
.checkbox-btn input[type="radio"],
.radio-btn input[type="checkbox"],
.radio-btn input[type="radio"]{position:absolute;opacity:0;z-index:1}

.checkbox-inline label,.radio-btn label{display:inline-block;line-height:24px;
	vertical-align:middle;position:relative;padding-left:20px;cursor:pointer;
	user-select:none;color:#424242}

.checkbox-inline label::after,
	.radio-btn label::after{position:absolute;content:"";width:18px;height:18px;
	left:0;top:0;margin-left:-18px;background-color:white;border:03px solid #424242;
	-webkit-border-radius:0px;border-radius:0px;background-clip:padding-box;cursor:pointer}

.checkbox-inline label::before,
	.radio-btn label::before{
		position:absolute;
		content:"";
		width:18px;
		height:18px;
	top:0px;
	left:0px;
	margin-left:-18px; 
	border-top:none;
	border-right:none;
	background: #1f1f1f;
	opacity:0;
	-webkit-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
	z-index:1}

.checkbox-inline label:active::before,
	.radio-btn label:active::before{opacity:0.3}

.checkbox-inline input[type="checkbox"]:checked+label,
	.checkbox-btn input[type="radio"]:checked+label,
	.radio-btn input[type="checkbox"]:checked+label,
	.radio-btn input[type="radio"]:checked+label{color:#000}

.checkbox-inline input[type="checkbox"]:checked+label::after,
	.checkbox-btn input[type="radio"]:checked+label::after,
	.radio-btn input[type="checkbox"]:checked+label::after,
	.radio-btn input[type="radio"]:checked+label::after{border:3px solid #000}

.checkbox-inline input[type="checkbox"]:checked+label::before,
	.checkbox-btn input[type="radio"]:checked+label::before,
	.radio-btn input[type="checkbox"]:checked+label::before,
	.radio-btn input[type="radio"]:checked+label::before{opacity:1}

.checkbox-inline input[type="checkbox"]:disabled+label,
	.checkbox-btn input[type="radio"]:disabled+label,
	.radio-btn input[type="checkbox"]:disabled+label,
	.radio-btn input[type="radio"]:disabled+label{color:#787878;cursor:default}

.checkbox-inline input[type="checkbox"]:disabled+label::after,
	.checkbox-btn input[type="radio"]:disabled+label::after,
	.radio-btn input[type="checkbox"]:disabled+label::after,
	.radio-btn input[type="radio"]:disabled+label::after{border:3px solid #787878;background-color:#ffffff}

.checkbox-inline input[type="checkbox"]:disabled+label::before,
	.checkbox-btn input[type="radio"]:disabled+label::before,
	.radio-btn input[type="checkbox"]:disabled+label::before,
	.radio-btn input[type="radio"]:disabled+label::before{display:none}

	.radio-btn label::after{-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box}

	.radio-btn label::before{width:12px;height:12px;border:none;top:6px;left:6px;
		-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box;
		background-color:#000000;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
/*# sourceMappingURL=checkbox.css.map */
.row.foot-col{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;}
@media only screen and (max-width: 767px) {
	.row.foot-col{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap:wrap;}}
.icos-footliqpay, .icos-footvisa-pay-logo, .icos-footmaster-card-logo, .icos-footinstagram-logo-1, .icos-footmaster-card-logo-1
{ display: inline-block; background: url('../image/icos-foot.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
margin: 0px 15px;
   	opacity: 0.8;filter: invert(100%);}
.icos-footliqpay:hover,
 .icos-footvisa-pay-logo:hover,
 .icos-footmaster-card-logo:hover,
  .icos-footinstagram-logo-1:hover,
   .icos-footmaster-card-logo-1:hover {
   	opacity: 1; cursor: pointer;  
    filter: brightness(50);}
.icos-footliqpay { background-position: -4px -0px; width: 74px; height: 15px; }
.icos-footvisa-pay-logo { background-position: -4px -19px; width: 39px; height: 13px; }
.icos-footmaster-card-logo { background-position: -4px -36px; width: 31px; height: 20px; }
.icos-footinstagram-logo-1 { background-position: -47px -19px; width: 20px; height: 20px; }
.icos-footmaster-card-logo-1 { background-position: -39px -43px; width: 20px; height: 20px; }
.advantage.pos-center{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
align-items: center;}
.advantage.pos-center .caption{
    margin-top: 30px;
    padding: 0px 10px;
    text-align: center;}
.ne-bootstrap .modal-dialog .modal-content .modal-header .ne-modal-text h2{
	font-size: 36px!important;
	font-weight: normal;
	text-align: left;
}
.advantag-block {padding: 50px 0px!important;}
.advantag-block img{cursor: pointer;
    transition: all 0.2s;}
.advantag-block img:hover{opacity: 0.8; filter: invert(100%);cursor: pointer; 
    transition: all 0.2s;}
.items .ico-np{
	background: url(../image/ico-np.png) center center no-repeat;
	width: 51px;
	height: 38px;
	display: block;
    float: left; 
}
.items .ico-np-1{
	background: url(../image/ico-np-1.png) center center no-repeat;
	width: 51px;
	height: 38px;
	display: block;
    float: left; 
}
.items .check{
	background: url(../image/check.png) center center no-repeat;
	width: 51px;
	height: 38px;
	display: block;
    float: left; 
}
.items .bks{
	background: url(../image/ico-np-1.png) center center no-repeat;
	width: 51px;
	height: 38px;
	display: block;
    float: left; 
}
.items .master{
	background: url(../image/check.png) center center no-repeat;
	width: 51px;
	height: 38px;
	display: block;
    float: left; 
}
.items p{padding-left: 75px;}
.dost h2{text-align: center;text-transform: uppercase;}
.information-information h1{font-size: 0px; margin-top: 0px;margin-bottom: 0px;}
.information-information h2{font-size: 36px; text-transform: uppercase;text-align: center;}
.information-information #content .row{margin-bottom: 30px;}
.information-information #content .row p{margin-bottom: 20px;}
#arrow_top {
    background: url(../image/chevron_up.png) no-repeat #fff!important;
    background-size: cover!important;
    border-radius: 50%;
}
.dropdown, .dropup {
    position: relative;
    text-align: center;
} 
.prod-details .table>tbody>tr>td,
.prod-details .table>tbody>tr>th,
.prod-details .table>tfoot>tr>td,
.prod-details .table>tfoot>tr>th,
.prod-details .table>thead>tr>td,
.prod-details .table>thead>tr>th{border-top: 0px #fff solid;    padding: 4px 0px;}
.prod-details .table>tbody>tr>td:nth-child(1){color: #b1b1b1;}
/*one click buy*/
/*#oneclick .input-group, #product{position: relative;
z-index: 1;}
#zoomWindowContainer{position: relative;
z-index: 2;}*/
#oneclick h3, #oneclick .help-block{
	display: none;
}
#oneclick .input-group{width: 100%;}
#oneclick input.input-payment-telephone{width: 100%;}
#oneclick span.input-group-btn {width: 50%;}
#oneclick span.input-group-btn button, 
#button-oneclick
{width: 100%;
    z-index: auto;
background: #1b1b1b;text-transform: uppercase;
color: #fff;}
.dop-inf img{margin-bottom: 20px;}
@media (max-width: 600px) {
.dop-inf img {
    margin: 20px auto;
    display: block;
}}
.ribbon span {
    font-size: 11px;
    font-weight: 700;
    color: red!important; 
    text-align: center;
    line-height: 22px;
     transform: none!important; 
     width: auto!important; 
    background: transparent!important;
    position: absolute;
    top: 0!important;
    right: 0!important;
    border: 1px red solid;
    padding: 0px 5px;
}
.bf-layout-id-new .ui-widget-header {
    background: #1f1f1f!important;
}
.bf-slider-container.ui-slider .ui-slider-handle,
.bf-slider-range.ui-slider .ui-slider-handle {
    border-radius: 0px;
    width: 19px;
    height: 12px;
    cursor: pointer;
    background: #1f1f1f;
}
.bf-cell .ui-slider-horizontal .ui-slider-range,
.bf-slider-range.ui-slider .ui-slider-range {
    top: 1px;
    bottom: 1px;
    height: auto;
}
.bf-layout-id-new .ui-widget-content {
    background: #fff!important;
    border: 0px solid #dddddd!important;
}
.bf-slider-container.ui-slider-horizontal, .bf-slider-range.ui-slider-horizontal {
    height: 3px!important;
    border-radius: 4px;
}
.bf-layout-id-new .bf-attr-header,
.bf-layout-id-new .bf-attr-group-header {
    background: #fff!important;
    color: #1f1f1f;
}
.bf-attr-header{    border-top: 1px solid #fff!important;
}
.bf-cell {
    display: table-cell;
    border-bottom: 1px solid #fff!important;}
.bf-attr-block{
    border-bottom: 1px solid #dcdcdc;
    border-top: 0px solid #dcdcdc;}
.brainyfilter-panel input[type="reset"]{
    border: 1px solid #1f1f1f!important;
    text-decoration: none!important;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #1f1f1f!important;}
.brainyfilter-panel input[type="reset"]:hover{
    border: 1px solid #fff!important; 
    background: #1f1f1f!important;
    color: #ffffff!important;}
.buttons .cl input[type=checkbox]  + label { 
  border: 1px solid #1b1b1b;
  width: 12px;
  display: block;
  height: 12px;
} 
.buttons .cl input[type=checkbox]:checked + label {
  width: 12px;
  height: 12px;
  background: #1b1b1b;
} 
.buttons .cl input[type=checkbox]  {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    position: absolute;
    margin-top: 20px;
} 
.checkbox input[type=checkbox],  .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio], .bf-attr-filter input[type="checkbox"], .bf-attr-filter input[type="radio"], #register_female_male, #register_female_male, #register_newsletter{
appearance: none!important;
-moz-appearance: none!important; /* Firefox */
-webkit-appearance: none!important; /* Safari and Chrome */
width: 12px;
height: 12px;
border: 1px #1f1f1f solid;
cursor: pointer; 
}
.checkbox input[type=checkbox]:hover, .checkbox-inline input[type=checkbox]:hover, .radio input[type=radio]:hover, .radio-inline input[type=radio]:hover, .bf-attr-filter input[type="checkbox"]:hover, .bf-attr-filter input[type="radio"]:hover, #register_female_male:hover, #register_female_male:hover, #register_newsletter:hover{
appearance: none!important;
-moz-appearance: none!important; /* Firefox */
-webkit-appearance: none!important; /* Safari and Chrome */
width: 12px;
height: 12px;
border: 1px #1f1f1f solid;
cursor: pointer;
-webkit-box-shadow: 0px 0px 10px #ccc;
box-shadow: 0px 0px 10px #ccc;
}
.product-thumb .radio input[type=radio]:checked{
    width: 100%;
    height: 100%;
    background-color: transparent!important;
    border: 0px #1f1f1f solid!important;
    margin: 0;
    display: block;
    top: 0;
    position: absolute;
    left: 0;
    cursor: default;
}
#product .radio input[type=radio]:checked{

    width: 100%;
    height: 100%;
    background-color: transparent!important;
    border: 3px #1f1f1f solid!important;
    margin: 0;
    display: block;
    top: 0;
    position: absolute;
    left: 0;
}
.checkbox input[type=checkbox]:checked, .checkbox-inline input[type=checkbox]:checked, .radio input[type=radio]:checked, .radio-inline input[type=radio]:checked, .bf-attr-filter input[type="checkbox"]:checked, .bf-attr-filter input[type="radio"]:checked, #register_female_male:checked, #register_female_male:checked, #register_newsletter:checked{
appearance: none!important;
-moz-appearance: none!important; /* Firefox */
-webkit-appearance: none!important; /* Safari and Chrome */ 
border: 1px #1f1f1f solid;
background: #1f1f1f; 
}
.bf-buttonclear{
	background: transparent!important;
}
.bf-range-max{float: right;}
.ndash{display: none;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}
.box-heading{display: none;}

/*Регистрация*/
.form-horizontal .control-label{
	display: block!important;
	width: 100%;
	text-align: left;
}
.form-control{box-shadow: 0px 0px 0px transparent;
    border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-style: solid;}
.register-pic{margin: 20px 0px;padding: 0px 50px;}
.register-pic img{width: 100%;
height: 100%;} 
.row-register_female_male .radio, .row-register_newsletter .radio{display: inline-block!important;}
.simpleregister-button-block.buttons{padding: 0;}
.simpleregister-button-block.buttons .simpleregister-button-right {width: 100%; }
.simpleregister-button-block.buttons .simpleregister-button-right a{width: 100%;
background: #1d1d1d;color: #fff;}
.simpleregister-button-block.buttons .simpleregister-button-right a:hover{
background: #fff;color:#1d1d1d ;}
.simpleregister-block-content h3{
  font-family: 'Lato-Black';text-align: center;}
.account-login aside,
.account-forgotten aside{display: none;}
.well {
    min-height: 20px;
    margin: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
}
.account_socnetauth2_icons_content table{width: 100%;}
.account_socnetauth2_icons_content table{width: 100%;}
.account_socnetauth2_icons_content table td{padding-right: 0!important;padding-top: 0!important;}
.simple_socnetauth2_icons_content table{width: 100%;}
.simple_socnetauth2_icons_content table td a.socnetauth2_buttons{display: none;}
.account_socnetauth2_icons_content table td a.socnetauth2_buttons{
width: 100%;
font-size: 14px;
background: #3b5998;
text-align: center;
display: block; 
padding: 10px 0px; 
color: #fff;}
.account-login .btn.btn-primary{width: 100%;
padding: 10px 0px;
margin-bottom: 20px;}
.submit-label{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
width: 100%; 
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1f1f1f; 
	background-repeat: repeat-x;
	border-color: #1f1f1f;
	text-transform: uppercase;
    padding: 10px 0px;
    cursor: pointer;
	border-color: #1f1f1f;
	border: 1px solid;
}
.submit-label:hover, .submit-label:active, .submit-label.active, .submit-label.disabled, .submit-label[disabled] {
	background-color:#fff;
	color:  #1f1f1f;
	background-position: 0 -15px;
	border-color: #1f1f1f;
	border: 1px solid;
}
.submit-label input#sub{background-color: transparent;border: none;text-transform: uppercase; } 
.submit-label .fa.fa-chevron-right:before{
    position: absolute;
    margin-top: -7px;margin-left: 10px;}
.account-login h2{text-align: center;margin-bottom: 20px;
  font-family: 'Lato-Black';}
.account-login p{margin-bottom: 20px;}
.account-login p strong{font-size: 18px;font-weight: bold;}
.account-login .well{padding: 30px 30px 50px;}
.control-label{font-size: 14px;margin-bottom: 10px;}
.forgotpass{position: absolute;bottom: 35px;}
.account-login .fa-chevron-right:before,
.account-forgotten .fa-chevron-right:before, 
.checkout-cart  .fa-chevron-right:before,
 .spoiler-btn button .fa-chevron-right:before {    position: absolute;    margin-top: -11px;margin-left: 10px;}
.panel-default>.panel-heading {    color: #1d1d1d;    background-color: #fff;    border-color: #1d1d1d;    border-radius: 0px;}
.checkout-cart .panel-group .fa{float: right;}
.checkout-cart .panel-group .fa-caret-down:before{color: #ccc;}
.checkout-cart .panel-default .panel-body label.control-label{display: none;}
.checkout-cart .input-group {display: block;}
.checkout-cart .panel-group .input-group button, 
.checkout-cart .panel-group .input-group input[type="submit"]{display: block;width: 100%;}
.checkout-cart .panel-group .input-group input{margin-bottom: 10px;}
.checkout-cart .buttons .btns-1 a, .checkout-cart .buttons .btns-2 a{width: 100%;margin-top: 10px;}
.checkout-cart .buttons div, .checkout-cart .buttons div{width: 100%;margin-top: 10px;} 
.checkout-cart .buttons {   margin: 1em 0;  display: flex;  flex-direction: column-reverse;}
.checkout-cart .buttons .butn-2 a{width: 100%;background: #fe0032; color: #fff;	border-color: #fe0032;	border: 2px #fe0032 solid;    font-size: 14px;    text-transform: uppercase;    padding: 10px;}
.checkout-cart .buttons .butn-2 a:hover{background: #fff; color:  #fe0032;text-decoration: none;	border-color: #fe0032;	border: 2px #fe0032 solid;}
.checkout-cart .buttons .butn-1 a{width: 100%;background: #fff; color: #1d1d1d;text-decoration: none; 	border: 2px #1d1d1d solid;    font-size: 14px;    text-transform: uppercase;    padding: 10px;}
.checkout-cart .buttons .butn-1 a:hover{background: #1d1d1d; color: #fff; 	border: 2px #1d1d1d solid;}
.checkout-cart .table-responsive .input-group {display: table;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {    border: 0px solid #ddd;}
.table-bordered{     border: 0px solid #ddd;}
.table-bordered tr{border-top: 1px #666 solid;}
.table-hover>tbody>tr:hover {    background-color: #fcfcfc;}
.total-check .table-bordered{margin-bottom: 0px;}
.total-check .table-bordered tr:nth-child(1){border-top: 0px #666 solid;font-family: 'Lato-Regular';} 
.total-check .table-bordered tr{font-family: 'Lato-Black';} 
.total-check{    background: #eee; padding: 10px 20px;}
.table-bordered thead tr{border-top: 0px #666 solid;}
.img-thumbnail{border: none;}
.account-simpleregister .simplereg_socnetauth2_icons_content{display: none;}
.together table{background: #eee;}
.checkout-cart .cart-bl table thead tr td{font-size: 14px;}
.checkout-cart .cart-bl td{border-top: 1px #ddd solid;vertical-align: middle; font-size: 12px;}
aside#column-left{padding-right: 30px;}
.spoiler {    display: block;    position: relative;     margin: 20px auto;}
.spoiler-btn {	padding: 2px 6px;	cursor: pointer;    text-align: center;}
.spoiler-btn button{ font-size: 14px; text-transform: uppercase;padding: 12px 35px;}
.spoiler-body {	padding: 6px;}
.spoiler-body.collapse.in{margin-top: 50px;}
.account-sidebar h3 {    background: #fff;}
.dashboard .dash-cols .tile-heading, .account-links span,
.dashboard .tile-one h1, .dashboard  .view-all a{	color: #1d1d1d!important;background: #fff; }
.form-horizontal .form-group {margin-left: 0px;margin-right: 0px;}
.table-bordered.table-hover thead {background: #1b1b1b; color: #fff;}
.dashboard .dash-cols .tile-heading, .dashboard .grey-table h3{background: #fff!important;}
.secondary-titles{display: none;}
.cart-pic a{display: block; text-align: center;}
.cart-pic a img{margin: 20px auto 40px;}
.cart-pic a h3{text-transform: uppercase;margin-top: 15px;}
.product-product-54 .dop-inf, .product-product-54  .prod-descr h4{display: none;}
img.mfp-img{ background: #fff;}
.mfp-title, .mfp-counter{font-size: 14px; color: #1b1b1b;}
#flycart-dialog, #flycart-options-dialog{background-color: #fff;}
.buttonset.ng-scope{text-align: right;}  
.button-container.close-btn a.flycart-button.close-button{border: 1px solid #1b1b1b;}
.left-notification.full-width{padding: 0px!important;}
.left-notification.full-width  h3.notification-product-success{display: block;background-color: #1b1b1b; color: #fff!important;padding: 9px;}
.flycart-container .buttonset a.flycart-button.close-button{border: 1px solid #1b1b1b;padding: 10px 8px!important;}
.flycart-container .buttonset a.flycart-button.tocart-button:hover{border: 1px solid #fe0032;}
.notification-product-name a.related-links{font-size: 24px!important;font-weight: bold;    line-height: 28px;}
.flycart-product-name a:not(.flycart-button), #flycart-notification a:not(.flycart-button):not(.light){background: #fff!important;}
/* + и - добавляем */
	
.my_quantity {
margin: 0px 10px 0px 0 !important; 
-moz-border-radius: 3px !important;
-webkit-border-radius: 3px !important;
border-radius: 2px !important;
width: 120px!important;
float: none; 
padding: 2px 0 6px 10px;
font-size: 14px;
}
.quant {
background: none !important;
border: 0px solid #E0E0E0 !important;
border-left: medium none;
border-right: medium none;
display: inline;
height: 15px;
line-height: 21px;
margin: 0;
padding: 0 5px;
text-align: center;
vertical-align: middle;
width: 42px;
font-weight: bold;
}
.my_minus {
padding: 0px 7px 1px 8px;
background: #1b1b1b;
}
.my_plus {
padding: 0px 6px 1px 6px;
background: #fe0032;
}
.my_minus, .my_plus {
position: relative;
display: inline;
height: 21px;
width: 21px;
line-height: 18px;
margin: 0;
vertical-align: middle;
border: none;
box-shadow: none;
font-weight: normal;
cursor: pointer!important;
-webkit-border-radius: 11px !important;
-moz-border-radius: 11px !important;
-ms-border-radius: 11px !important;
-o-border-radius: 11px !important;
border-radius: 2px !important; 
color: #fff !important;
} 
.btn-refresh, .btn-remove{border: 0px; background-color: transparent;-webkit-box-shadow: none;
box-shadow: none;}
.btn-remove .fa{color: #b1aaab;}
.prod-name{font-family: 'Lato-Black';
font-size: 16px;}
.simplecheckout-cart td.name {
    text-align: left!important;
} 
.simplecheckout-block .simplecheckout-cart-total#total_sub_total,
.simplecheckout-block .simplecheckout-cart-total#total_total{background: #DDDDDD;padding: 20px;}
.simplecheckout-block .simplecheckout-cart-total#total_total{border-top: 1px #1b1b1b solid; font-family: 'Lato-Black';}
.simplecheckout-block .simplecheckout-cart-total#total_total .simplecheckout-cart-total-value{color: red;}
.simplecheckout-right-column{    border: 1px #ddd solid;}
#simplecheckout_button_login{width: 100%;}
.simplecheckout .simplecheckout-right-column .panel-heading{font-size: 24px; padding-bottom: 0px;}
#simplecheckout_customer .panel-heading{font-size: 16px;}
.simplecheckout-right-column .checkout-heading-button {    float: none !important;    display: block !important;}
.simplecheckout-right-column .checkout-heading-button .btn-primary{color: #fff; width: 100%;    display: block;    padding: 10px 25px;    text-align: center;}
.simplecheckout-right-column .checkout-heading-button .btn-primary:hover, .simplecheckout-right-column .checkout-heading-button .btn-primary:focus{color: #1b1b1b;}
.simplecheckout-block-content .simple_socnetauth2_icons_content tr td{padding-top: 0px!important;padding-right: 0px!important;}
.simplecheckout-block-content {    }
.simplecheckout-block .panel-heading h3{text-align: center;}
.actions-head{background: #fe0032;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: center; align-items: center;min-height: 237px;height: 100%;}
.actions-head .relog{  font-family: 'Lato-Black';font-size: 60px;color: #fff;}
.new-add-head{background: url(../image/headers/novinki-head.png) center center no-repeat;display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: center; align-items: center;min-height: 280px;height: 100%;}
.new-add-head .relog{  font-family: 'Lato-Black';font-size: 60px;color: #fff;text-transform: uppercase;}
.logos-bottom{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
opacity: 0.5;
align-items: center;
flex-wrap: wrap;
margin: 40px 0px;}
.logos-bottom img{display: block;margin: 0px auto;}
.inf-cont{padding: 15px;}
.inf-cont img{margin-bottom: 20px;}
.inf-cont p{font-size: 16px;    line-height: 24px;}
.map iframe{width: 100%;height: 100%;    min-height: 350px;    padding: 10px;}
.about-us-inf .head-pict{background: url('../image/headers/about-head.png') center center no-repeat;min-height: 238px;display: -webkit-flex;display: -moz-flex;display: -ms-flex;
display: -o-flex;display: flex;align-items: center;justify-content: center; margin-bottom: 40px;}
@media only screen and (max-width: 550px) {
.about-us-inf .head-pict{background: #666;}}
.about-us-inf .head-pict .inf-block h2{font-size: 50px!important;color: #fff;font-family: 'Lato-Black'; text-align: center;text-transform: uppercase;}
.about-us-inf .head-pict .inf-block span{font-size: 50px;color: #fe0032;} 
.logos-sect .logos-br{width: 20%;float: left; min-height: 150px;
align-items: center; display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;justify-content: center; 
display: flex;}
@media only screen and (max-width: 767px) {
.logos-sect .logos-br{width: 50%;float: left;}}
@media only screen and (max-width: 550px) {
.logos-sect .logos-br{width: 100%;float: left;}}
.logos-sect .logos-br img{ display: block;margin: 0 auto;}
.cash-back h3{margin-top: 50px;margin-bottom: 20px; font-size: 24px;} 
.skidki h2{text-transform: none;text-align: center;}
.skidki ul{padding-left: 25px;margin-left: 0px;}
.skidki ul li{list-style-type:  none;}
.skidki ul li:before {  content: "–";   position: absolute;  margin-left: -17px;}
.account-voucher .cl{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;}

/*  Modal*/
.modal .modal-header .close {
    margin-top: -2px;
    padding: 5px;
    border: none;
    font-size: 26px;
}
.modal .modal-header h4.modal-title {font-family: 'Lato-Black';text-align: center;font-size: 24px;}
.modal .modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}
.modal .modal-footer{
    border-top: 0px solid #e5e5e5;}
.modal .modal-body form{
	width: 320px;
	display: block;
	margin: 0 auto;
}
.modal .modal-content{border-radius: 1px;}
.modal .modal-body form input{
	width: 100%;
    border: 1px #1b1b1b solid;
    margin-bottom: 10px;
    padding: 15px 30px;
}
.modal .modal-body form button{
	width: 100%;
    padding: 15px 30px;
}
.modal .modal-body form button i{
    margin-left: 15px;
    font-size: 20px;
}
@media (min-width: 768px) {
.back-resp .modal-dialog {
    width: 400px;
    margin: 30px auto;
}}

/*blog*/
 .block-cont{
	position: relative;
}
 .small-descr a{ color: #fff;}
.small-descr{ 
	position: absolute;	 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    padding: 20px 30px;
}
.block-cont .image img,
.block-cont .image a {
    display: block;
    width: 100%;}
.block-cont:hover > .small-descr{
	opacity: 1;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
} 
.block-cont:hover .image {
    transition: all 400ms;
    background: #000; 
} 
.block-cont:hover .image img {
    transition: all 400ms; 
	opacity: 0.6;
}
.small-descr .btn-primary{
	padding: 15px 30px;
    color: #fff;
    border: 1px #fff solid;
    background: transparent;
}
.blog-home .blog_stats { 
    border-bottom: 0px solid #f1f1f1;}
.blog-home  .column-2 .summary .blog_title, .blog-home .column-3 .summary .blog_title{
	text-transform: uppercase;
}
.common-home .block-cont:hover .image {
    transition: all 400ms;
    background-color: transparent;
    opacity: 1;
} 
.common-home .blog_item:nth-child(1) .small-descr{opacity: 1; 
    align-items: flex-end;padding: 35px;}
.common-home .blog_item:nth-child(2) .small-descr{opacity: 1; 
    align-items: flex-start;padding: 35px;}
.common-home .blog_item .small-descr h2{font-size: 36px;}
.common-home .blog_item .small-descr .cont-centr{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;}
.common-home .blog_item:nth-child(1) .cont-centr{
    align-items: flex-end;}
.common-home .blog_item:nth-child(2) .cont-centr{
    align-items: flex-start;}
.small-descr .btn-primary {
    padding: 15px 30px;
    color: #fff;
    border: 2px #fff solid;
    background: transparent;
    font-family: 'Lato-Black';
    letter-spacing: 3px;
} 
/*pagination*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b1b1b;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #1b1b1b;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}
.blog_grid_holder{display: grid;grid-template-columns: 50% 50%;}
@media (max-width: 768px) {
	.common-home .blog_grid_holder .blog_item .summary .blog_title {
    margin: 0 0 0px;
    font-size: 26px!important;
}
.common-home .blog-module.latest a.all {
    float: none!important;
}
.common-home .blog_grid_holder {
    display: grid;
    grid-template-columns: 100%;
}}
.blog_grid_holder{margin-left: 0px!important;margin-right: 0px!important;}
.blog_grid_holder .blog_item:nth-child(1n) .small-descr{ 	
    align-items: flex-end;}
.blog_grid_holder .blog_item:nth-child(2n) .small-descr{ 	
    align-items: flex-start;}
.blog_grid_holder .blog_item:nth-child(1n) .small-descr h2{ 	
    text-align: right;}
.blog_grid_holder .blog_item:nth-child(2n) .small-descr h2{ 	
    text-align: left;}
.blog_post .main_thumb  {
	padding: 0!important;
    background: #000;
}
.blog_grid_holder .blog_item .summary .blog_title {
    margin: 0 0 0px;
    font-size: 24px;
}
.common-home .blog_grid_holder .blog_item .summary .blog_title {
    margin: 0 0 0px;
    font-size: 36px;
}
.blog.blog_post .col-sm-6:nth-child(1){padding-right: 10px;}
.blog.blog_post .col-sm-6:nth-child(2){padding-left: 10px;}
.blog_post .main_thumb img{
opacity:0.6;}
.blog_grid_holder {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.blog_grid_holder  .blog_item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0px 0px 0px 0 #ccc;
}

@media only screen and (min-width: 400px) {
    .blog_grid_holder {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .blog_grid_holder {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .blog_grid_holder {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .blog_grid_holder {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}
.pic-title {
	position: relative;
}
.pic-title .titl-text{ 
	position: absolute;	 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff; 
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    font-size: 36px;
    text-transform: uppercase;
    text-align: right;
    line-height: 40px;
    padding: 0px 70px;
}
.product-testimonial .image{display: block;}
@media only screen and (max-width: 768px) {
.product-testimonial .image{margin-bottom: 20px;}
}
.product-testimonial h1{margin-bottom: 30px;}
.product-testimonial .contqiner,
.product-testimonial .aside{padding-left: 15px;padding-right: 15px;}
.product-testimonial .aside{border: 1px #dfdfdf solid; padding: 15px;}
.product-testimonial .testim-sing{border-bottom: 0px #ccc solid;margin-bottom: 20px;}
#testimonial .testim-sing:last-child {display: none;}
.product-testimonial .testim-sing .col-sm-3{padding-right: 20px;} 
#form-testimonial button{width: 100%;}
.rad-size .size-col,
.product-thumb .form-group .check-lists{
    display: flex;
    flex-wrap: wrap;}
.opts-hov .check-lists .checkbox, .opts-hov .check-lists .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 9px;
}
.rad-size .radio{margin: 10px 10px 10px 0px;}
.rad-col select{height: 41px;}
.rad-size .radio input[type=radio],
.opts-hov .check-lists .radio input[type=radio]{border: 0px;    font-size: 14px;}
.rad-size .radio input[type=radio]:hover,
.opts-hov .check-lists .radio input[type=radio]:hover{border: 0px;box-shadow: 0px 0px 0px #fff;}
.rad-size .radio input[type=radio]:checked > .rad-size .radio label,
.opts-hov .check-lists .radio input[type=radio]:checked > .opts-hov .check-lists .radio label{border: 0px;box-shadow: 0px 0px 0px #fff; background-color: #1b1b1b;}
.checkbox-inline input[type=checkbox]:checked > .checkbox-inline label, .radio input[type=radio]:checked > label{border: 0px;box-shadow: 0px 0px 0px #fff; background-color: #1b1b1b;}
.rad-size .radio label,
.opts-hov .check-lists .radio label{border: 1px solid #1b1b1b;    padding: 3px 13px;
    cursor: default;}
.opts-hov .check-lists .radio input{    cursor: default;}
.opts-hov .control-label{display: none;}
.opts-hov .form-group{margin-bottom: 0px;}
.opts-hov  select.form-control{
    border-width: 0px;
    border-color: rgb(220, 220, 220);
    border-style: solid;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #878686;
    padding: 0px 0px;	}
.opts-hov  select.form-control option{display: none;} 
.opts-hov  select.form-control:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(255,0,0,.075), 0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(255,0,0,.075), 0 0 0px rgba(102,175,233,.6);
}
.common-home .blog-module.latest .blog_item{width: 100%;padding: 0;}
.common-home .blog-module.latest h3{text-align: center;    border-bottom: 0px solid #fff;}
.common-home .blog-module.latest a.all{float: right; text-transform: uppercase;}
.rad-col{width: 48%;float: left;}
.but-cont{width: 50%;float: right;}
@media (max-width: 600px) {
.rad-col{width: 100%;float: left;}
.but-cont{width: 100%;float: right;}}
#oneclick .form-control{
    width: 96%;
    display: block;
    height: 45px;
    z-index: auto;}
.table-size{margin: 10px 0px;}
.form-control:focus {
    border-color: #1b1b1b;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
}
.form{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
     border: 1px solid #878686;
     padding: 20px 0px;}
.form form{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    flex-direction: column; }
.form form .div{ }
.form form input{height: 40px;margin-bottom: 10px;padding: 5px;}
.form form input[type="textarea"]{height: 80px;margin-bottom: 10px;padding: 5px;}
.form form button{height: 40px;margin-bottom: 10px; }
.form form button .fa{margin-left: 15px; }
.product-product-59 .table-size{display: none} 
.viewid , .others{margin: 40px 0px 50px;}
.viewid h2, .others h2{text-align: center; text-transform: uppercase;margin: 20px 0px 50px;}
.cart-pic-balanse{
	min-height: 250px;
	background: url('/catalog/view/theme/brand/image/cart-blue.png') no-repeat center center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
    background-size: contain;
    padding: 7%;
}
.cart-pic-balanse #result {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: #fff;
    color: #1b1b1b;
    margin-top: 40px;
}
.deluxe-voucher,
.deluxe-voucher .panel,
.deluxe-voucher .panel-heading,
.deluxe-voucher .panel-heading{
    border-bottom: 0px solid transparent;
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.deluxe-voucher .check-balanse-form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: start;
	flex-direction: column;
	justify-content: strench;}
.deluxe-voucher .check-balanse-form button{margin: 20px 0px; padding: 15px 30px;}
.deluxe-voucher .check-balanse-form button .fa{margin-left: 15px;}
.deluxe-voucher .check-balanse-form input{padding: 15px 30px;height: 50px;font-size: 18px;}
.buy-card {text-decoration: underline; font-size: 16px;}
#flycart-widget{display: none;}
#horizontal-menu .dropdown-inner {    display: table;    width: 100%;}
#horizontal-menu {
    background-color: transparent;}
.brands-block{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 45px;}
.brands-block a{
  pointer-events: none;
cursor: default;}
.brands-block img{display: block; margin: 0 auto;
  pointer-events: none;
cursor: default;}
 
@media (max-width: 600px) {

#slider{
    float: right;
    width: 100%!important;}
.prod.thumbnails{
    float: left;
    width: 100%!important;
    display: block;
    clear: none;
    overflow: hidden;}}
#slider{
    float: right;
    width: 85%;}
.prod.thumbnails{
    float: left;
    width: 15%;
    display: block;
    clear: none;
    overflow: hidden;}
 div.light_square .pp_close {
    width: 22px;
    height: 22px;
    background: url(../images/prettyPhoto/light_square/sprite.png) -26px 2px no-repeat;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}
.prod-img{display: block;margin: 0;padding: 0;}
.thumbs-list{ 
    display: block;
    z-index: 444;
    position: relative;
    bottom: 0;
    width: auto;
    height: auto;}
#horizontal-menu .nav > li > a:hover{
	color: red;
}
#list-view,
#grid-view{display: none;}
#membership-nearest-discount-panel{display: none!important;} 
.anim-fade{overflow: hidden;}.iSearchBoxWrapper .iSearchBox { 
    right: 0;
}
.iSearchBox li h3 {color: #1b1b1b!important;}
.product-isearch .sorting{display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;}
.product-isearch .searcher{display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-wrap: wrap;}
.product-isearch h1, 
.product-isearch h2{margin-bottom: 20px;}
.product-isearch #content .row{margin-bottom: 50px;}
.sorting .labl{padding-right: 10px;}
.prod-info h1{margin-bottom: 20px;}
.prod-descr {margin-top: 20px;} 
.brands-logo{
 cursor: default;}
.brands-logo a:nth-child(2){display: none;}
.brands-logo a img{margin: 0 auto;}

/*spoiler*/
.brands-row span{font-size: 0px;}
.brands-row .brands-logo-hidd:nth-child(2){display: none;}
.brands-row .brands-logo-displ:nth-child(2){display: block;}
.product-manufacturer button{margin: 30px auto;}

