{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
			<a class="btn btn-primary" title="" data-toggle="tooltip" href="{{ view_log }}" data-original-title="{{ button_view_log }}"><i class="fa fa-eye"></i></a>
      </div>
	
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
	{% if (success is defined) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
	{% endif %} 
    <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
		</div>
		<div class="panel-body">
			<ul class="nav nav-tabs" id="user_log_tabs">
				<li><a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
				<li><a href="#tab-help" data-toggle="tab">{{ tab_help }}</a></li>
			</ul>
            <div class="tab-content">
				<div class="tab-pane" id="tab-settings">
					<form action="{{ save_and_quit }}" method="post" id="form" class="form-horizontal">
						<div class="buttons">
							<button onclick="$('#form').attr('action', '{{ save }}'); $('#form').submit();" class="btn btn-primary" title="{{ button_save }}" type="submit" data-original-title="{{ button_save }}"><i class="fa fa-refresh"></i></button>
							<button onclick="$('#form').submit();" class="btn btn-primary" title="{{ button_save_quit }}" type="submit" data-toggle="tooltip" data-original-title="{{ button_save_quit }}"><i class="fa fa-save"></i></button>
							<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ entry_log_enable_help }}">{{ entry_log_enable }}</span></label>
							<div class="col-sm-10">
								<select name="{{ module_name }}_enable" class="form-control">
									{% for key,value in enabled_disabled %} 
										{% if key == slasoft_broken_links_enable %}
										<option value="{{ key }}" selected="selected">{{ value }}</option>
										{% else %}
										<option value="{{ key }}">{{ value }}</option>
										{% endif %}
									{% endfor %} 
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="tab-help">

					<div> {{ text_help }}</div>
					<div>
							 {{ text_description }} 
					</div>
				</div>
				
			</div>
		</div>
	</div>
  </div>
  <script type="text/javascript"><!--
$('#user_log_tabs a:first').tab('show');
//--></script></div>

{{ footer }}